<div class='row'>
  <div class='user-img span3'>
    <img src='<%= @user.profile_pic %>'>
  </div>
  <div class='span7'>
    <h4>Welcome, <%= @user.name %>!</h4>
    <i class='icon-star'></i> You have <%= pluralize(notification, 'notification') %>
    
    <br><br>

    <%= link_to user_path(@user.id), :class => 'btn btn-mini btn-info' do %>
      <i class='icon-user'></i> View Profile
    <% end %>

    <%= link_to edit_user_path(@user.id), :class => 'btn btn-mini btn-info' do %>
      <i class='icon-edit'></i> Edit Profile
    <% end %>

    <br><br>

    <%= link_to new_project_path, :class => 'btn btn-small btn-inverse' do %>
      <i class='icon-plus'></i> New Project
    <% end %>

    <%= link_to new_project_path, :class => 'btn btn-small btn-inverse' do %>
      <i class='icon-plus'></i> New Event
    <% end %>

  </div>
</div>