<div class='row  dashboard-tab-main-head user-profile-head'>
  
  <div class="profpicwrap img-circle pull-left" style="background: url('<%= @user.profile_pic %>') no-repeat"></div>
  <a class='btn-custom btn-dark-grey pull-left edit-user-photo' >
    <div class='black-pencil-icon pull-left'></div>
  </a>
  <div class='summary pull-left'>
    <div class='welcome regular'>
      Welcome, <%= @user.name %>.
    </div>
    
    <div class='notifications-summary'>
      <div class='btn-custom btn-black'>
        <div class='blue-star-icon'></div> 
        You have <%= pluralize(notification, 'notification') %>
      </div>
    </div>
    
    <div class='links'>
      <%= link_to user_path(@user.id), :class => 'btn-custom btn-dark-grey pull-left link' do %>
        <div class='eye-open-icon'></div> View Profile
      <% end %>

      <%= link_to edit_user_path(@user.id), :class => 'btn-custom btn-dark-grey pull-left link' do %>
        <div class='black-pencil-icon'></div> Edit Profile
      <% end %>
    </div>

  </div>
</div>