<%= stylesheet_link_tag "dashboard/dashboard" %>
<%= javascript_include_tag "dashboard/dashboard_manifest" %>

<div class='container'>
  <div class='row'>
    <div class='span2'>
      <ul class='nav nav-pills nav-stacked'>
        <li>
          <a href='#home' data-toggle='tab' class='active'> Home </a>
        </li>
        <li>
          <a href='#messages' data-toggle='tab'> Messages </a>
        </li>
        <li>
          <a href='#projects' data-toggle='tab'> Projects </a>
        </li>
        <li>
          <a href='#events' data-toggle='tab'> Events </a>
        </li>
        <li>
          <a href='#settings' data-toggle='tab'> Settings </a>
        </li>
      </ul>
    </div>
    <div class='users-view span10'>
      
      <%= render :partial => 'dashboard/user_profile_summary' %>
      
      <div class='row'>
        <div class='tab-content span7'>
          <div class='tab-pane active' id='home'>
            <%= render :partial => 'dashboard/user_home' %>
          </div>
          <div class='tab-pane' id='messages'>
            <%= render :partial => 'dashboard/messages' %>
          </div>
          <div class='tab-pane' id='projects'>
            All your projects here
          </div>
          <div class='tab-pane' id='events'>
            Your events
          </div>
          <div class='tab-pane' id='settings'>
            Your settings
          </div>
        </div>

        <div class='span3 dashboard_widgets'>
          <%= render :partial => 'dashboard/recommended_people' %>
          <%= render :partial => 'dashboard/recommended_projects' %>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<%= render :partial => 'dashboard/templates/activities' %>
<%= render :partial => 'dashboard/templates/recommended_people' %>
<%= render :partial => 'dashboard/templates/recommended_project' %>

<script type="text/javascript">

  app.activities = new app.collections.activities()

  app.activities.reset(<%= raw activities.first(ACTIVITIES_PER_PAGE).to_json(:include => [
                                                      :owner,
                                                      :trackable
                                                    ]
                                                  ) 
                      %>)
  app.activities_view = new app.views.activities({ collection: app.activities })

  $('#activities_container').html(app.activities_view.render().el)

  app.recommended_people = new app.collections.recommended_people(<%= raw current_user.recommended_people.limit(RECOMMENDED_PEOPLE_PER_PAGE).to_json() %>)
  app.recommended_people_view = new app.views.recommended_people({ collection: app.recommended_people })
  $('.recommended_people_container').html(app.recommended_people_view.render().el)

  app.recommended_projects = new app.collections.recommended_projects(<%= raw current_user.recommended_projects.limit(RECOMMENDED_PROJECTS_PER_PAGE).to_json() %>)
  app.recommended_projects_view = new app.views.recommended_projects({ collection: app.recommended_projects })
  $('.recommended_projects_container').html(app.recommended_projects_view.render().el)

</script>