<%= stylesheet_link_tag "dashboard/dashboard" %>
<%= javascript_include_tag "dashboard/dashboard_manifest" %>
<%= javascript_include_tag "users/users" %>

<div class='container' style='padding-top: 20px;'>
  <div class='row'>
    <div class='span1 dashboard-main-nav'>
      <ul class='nav nav-pills nav-stacked'>
        <li class='active'>
          <a href='#home' data-toggle='tab' class='active'>
            <div class='nav-icon home'>
            </div>
            <div class='nav-text'>
              HOME
            </div>
          </a>
        </li>
        <li>
          <a href='#messages' data-toggle='tab'>
            <div class='nav-icon messages'>
            </div>
            <div class='nav-text'>
              MESSAGES
            </div>
          </a>
        </li>
        <li>
          <a href='#projects' data-toggle='tab'>
            <div class='nav-icon projects'>
            </div>
            <div class='nav-text'>
              PROJECTS
            </div>
          </a>
        </li>
        <li>
          <a href='#events' data-toggle='tab'>
            <div class='nav-icon events'>
            </div>
            <div class='nav-text'>
              EVENTS
            </div>
          </a>
        </li>
        <li>
          <a href='#settings' data-toggle='tab'>
            <div class='nav-icon settings'>
            </div>
            <div class='nav-text'>
              SETTINGS
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class='users-view span11'>
      
      
      
      <div class='row'>
        <div class='dashboard-tabs tab-content span11'>
          <div class='tab-pane active main' id='home'>
            <%= render :partial => 'dashboard/user_profile_summary' %>
            <%= render :partial => 'dashboard/user_home' %>
            <div class='dashboard_widgets right-container pull-left'>
              
              <div class='row right-extra-div'>
                <div id='recommended_projects_div'>
                </div>

                <div class="load_more_div clearfix text-center">
                  <a class="btn-custom load_more btn-red center-div text-center btn-load_more" data-type="next_recommended_projects"  data-next="2">
                    Load More
                  </a>
                </div>
              </div>

              <%= render :partial => 'dashboard/recommended_people' %>

              <div class='row right-extra-div'>
                <div id='recommended_events_div'>
                </div>

                <div class="load_more_div clearfix text-center">
                  <a class="btn-custom load_more btn-red center-div text-center btn-load_more" data-type="next_recommended_events"  data-next="2">
                    Load More
                  </a>
                </div>

              </div>
                
            </div>

          </div>
          <div class='tab-pane main' id='messages'>
            <%= render :partial => 'dashboard/messages' %>
          </div>
          <div class='tab-pane main' id='projects'>
            <%= render :partial => 'dashboard/projects' %>
          </div>
          <div class='tab-pane main' id='events'>
            <%= render :partial => 'dashboard/events' %>
          </div>
          <div class='tab-pane main' id='settings'>
            <%= render :partial => 'dashboard/settings' %>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<!-- Update user photo Modal -->
<div id="profile_update_modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><span>Update Profile Photo</span></h3>
  </div>
  <div class="modal-body">
    <%= form_for @user do |f| %>
      <%= f.fields_for :profile, @user.profile || Profile.new do |p|  %>
        <div class="control-group">
          <p>
            Please Upload a Profile Image
          </p>
          <div class="controls">
            <%= p.file_field :image %>
          </div>
        </div>
      <% end %>
      <%= f.submit 'Update', :class => 'btn btn-primary', :id => 'submit-user-form' %>
    <% end %>
  </div>
  <div class='modal-footer'>
    <button class='btn' data-dismiss="modal">Cancel</button>
  </div>
</div>
<!-- Update user photo Modal -->

<%= render :partial => 'dashboard/templates/activities' %>
<%= render :partial => 'dashboard/templates/recommended_people' %>


<%= render :partial => 'dashboard/templates/recommended_projects' %>
<%= render :partial => 'projects/templates/similar_project' %>

<%= render :partial => 'dashboard/templates/recommended_events' %>
<%= render :partial => 'events/templates/similar_event' %>

<!-- Projects -->
<%= render :partial => 'dashboard/templates/user_projects' %>
<%= render :partial => 'dashboard/templates/user_managing_projects' %>
<%= render :partial => 'dashboard/templates/user_project' %>
<%= render :partial => 'dashboard/templates/applied_project' %>
<%= render :partial => 'dashboard/templates/manage_project' %>
<%= render :partial => 'dashboard/templates/project_fans' %>
<%= render :partial => 'dashboard/templates/project_fan' %>
<%= render :partial => 'dashboard/templates/super_role_templates' %>
<%= render :partial => 'dashboard/templates/sub_role_templates' %>
<%= render :partial => 'dashboard/templates/role_application' %>

<%= render :partial => 'dashboard/modals' %>

<!-- events -->
<%= render :partial => 'dashboard/templates/user_events' %>
<%= render :partial => 'dashboard/templates/user_event' %>
<%= render :partial => 'dashboard/templates/attending_events' %>
<%= render :partial => 'dashboard/templates/attending_event' %>


<!-- Messages -->
<%= render :partial => 'dashboard/templates/conversations' %>
<%= render :partial => 'dashboard/templates/conversation' %>
<%= render :partial => 'dashboard/templates/messages' %>
<%= render :partial => 'dashboard/templates/message' %>

<%= render :partial => 'conversations/send_new_message_modal' %>

<script type="text/javascript">

  app.current_user = <%= raw current_user.to_json() %>

  app.activities = new app.collections.activities()

  app.activities.reset(<%= raw current_user.activities_feed.first(ACTIVITIES_PER_PAGE).
                                          to_json(:include => [
                                                      {:owner => {:methods => :url_param}},
                                                      :trackable
                                                    ],
                                                  :check_user => current_user
                                                  ) 
                      %>)
  app.activities_view = new app.views.activities({ collection: app.activities })

  $('#activities_container').html(app.activities_view.render().el)

  // $('#isotope_container').isotope({
  //   itemSelector: '.item',
  //   animationOptions:{
  //     duration: 750,
  //     easing: 'linear',
  //     queue: false
  //   }
  // });

  app.recommended_people = new app.collections.recommended_people(<%= raw current_user.recommended_people.limit(RECOMMENDED_PEOPLE_PER_PAGE).to_json( :check_user => current_user ) %>)
  app.recommended_people_view = new app.views.recommended_people({ collection: app.recommended_people })
  $('.recommended_people_container').html(app.recommended_people_view.render().el)


  app.recommended_projects = new app.collections.recommended_projects(<%= raw Project.custom_json(current_user.recommended_projects.limit(RECOMMENDED_PROJECTS_PER_PAGE), current_user, true, false, true) %>)
  app.recommended_projects_view = new app.views.recommended_projects({ collection: app.recommended_projects })
  $('#recommended_projects_div').html(app.recommended_projects_view.render().el)


  app.recommended_events = new app.collections.recommended_events(<%= raw Event.custom_json(current_user.recommended_events.limit(RECOMMENDED_EVENTS_PER_PAGE), current_user) %>)
  app.recommended_events_view = new app.views.recommended_events({ collection: app.recommended_events })
  $('#recommended_events_div').html(app.recommended_events_view.render().el)

// PROJECTS
  app.projects_loaded = false // Prevents making ajax call everytime user clicks on the tab
// user projects
  app.user_projects = new app.collections.user_projects()
  app.user_projects_view = new app.views.user_projects({ collection: app.user_projects })

// Managing Projects
  app.user_managing_projects = new app.collections.user_projects()
  app.user_managing_projects_view = new app.views.user_managing_projects({ collection: app.user_managing_projects })

  
// Applied projects
  app.applied_projects = new app.collections.applied_projects()
  app.applied_projects_view = new app.views.applied_projects({ collection: app.applied_projects })
  


  // EVENTS
  app.events_loaded = false // Prevents making ajax call everytime user clicks on the tab
  // user created event
  app.user_events = new app.collections.user_events()
  app.user_events_view = new app.views.user_events({ collection: app.user_events })


  // user attending events
  app.attending_events = new app.collections.attending_events()
  app.attending_events_view = new app.views.attending_events({ collection: app.attending_events })


// MESSAGES
  app.messages_loaded = false // Prevents making ajax call everytime user clicks on the tab
  // inbox
  app.inbox_conversations = new app.collections.conversations()
  inbox_view = new app.views.conversations({ collection: app.inbox_conversations, mailbox_type: 'Inbox' })
  

  // sent
  app.sent_conversations = new app.collections.conversations()
  sent_view = new app.views.conversations({ collection: app.sent_conversations, mailbox_type: 'Sent' })
  

  // trash
  app.trash_conversations = new app.collections.conversations()
  trash_view = new app.views.conversations({ collection: app.trash_conversations, mailbox_type: 'Trash' })
  


  $(document).ready(function(){
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('a[href=#'+url.split('#')[1]+']').trigger('click') ;
    }
  });
  


</script>