<%= stylesheet_link_tag "home_page.css" %>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    <div class="dtlh1 span12 text-center regular">FAQ</div>    
    <div class="discover clearfix">
        <div class="info verylight">
					What is Filmzu?
					</div>
					<div class="dtlinfotext light"><b>Filmzu makes creating films and finding the right people to work with exciting and fun.</b>  We wanted to find a way to inspire people who had been tossing around a great idea in their head to get out there and engage with other people to make it a reality. You all know that really excited feeling you get right before your favorite holiday, or the vacation you have been planning, and we think you should feel the same way about your next film.  This is one of the greatest times to be involved in filmmaking, with it never being cheaper and easier to make a film, it’s simply a matter of working with the right people. There is a growing number of incredibly talented number of people outside the studio system, and now <%= link_to "you finally have the access to them.", users_url %> </div>
<br><br>
<div class="info verylight">
Why did you guys make Filmzu?</div> <div class="dtlinfotext light"> We are major cinephiles and love online video, turns out <a href="https://www.youtube.com/watch?v=GI6CfKcMhjY">Michael Bolton</a> is too. We found it harder to find great niche content amongst the sea of cat videos, and seeing another remake of some super hero movie was not for us.  We really like seeing obscure shorts, music videos that a guy with 1 camera and a mic shot and edited, and a film that is so bizarre we are not sure what we just saw. The content producer/artist is the king (or Queen), we just wanted to make sure they know that, and have the support they need in a very segregated industry.
</div>
<br><br>
<div class="info verylight">
How can Filmzu help me as a Talent Agent or Manager?</div> <div class="dtlinfotext light">  Finding emerging artists and new people to work with will certainly benefit the you.  Filmzu is also a fantastic tracking tool for in progress projects.  Agents can follow the project, see behind the scenes shots, look over the cast, and find the next great role for them to work in.  We wanted a way agents can be on a beach drinking Mojitos and find a person for their next project.
</div>
<br><br>
<div class="info verylight">
How can Filmzu help me as a Business Owner?</div> <div class="dtlinfotext light"> If you don’t use video on your website you are missing out.  Having a video on your website can convert up to 60% more customers to purchasing your product or service.  We came to the realization that there was really no good way to find talented filmmakers to produce a video for our business.  We tried the Craigslist route and got bombarded without a good way to search and filmmakers that would be good for our video.  With Filmzu you can easily sort through filmmakers in a central location and choose them based on their style and skill sets.
</div>
<br><br>
<div class="info verylight">
How can Filmzu help me as a Film Student?</div> <div class="dtlinfotext light">  Film school still has a lot of great value for some people, one of the biggest advantages is the networking.  The fact still remains that connecting with people is crucial to taking your new degree and maximizing your potential.  They might be in the same class, or the next university over, but starting that connection on Filmzu is a great place to start.
	</div>
<br><br>
<div class="info verylight">
How much does Filmzu Cost?</div> <div class="dtlinfotext light">Filmzu is free and always will be.  We subscribe to Levy’s <a href="http://en.wikipedia.org/wiki/Hackers:_Heroes_of_the_Computer_Revolution">Hacker’s Creed</a> that access to computers—and anything which might teach you something about the way the world works—should be unlimited and total. We will have premium features in the future that users can elect to pay for, but they will be above and beyond the incredible value add the standard site offers.
</div>
<br><br>
<div class="info verylight">
Why Don’t I See Any Ads?</div> <div class="dtlinfotext light">  Most of us aren’t like Don Draper and love ads, so that’s why we declined to take the revenue they offer to provide a better user experience.  In the future we may start to show ads, but we will make every effort to show ads that are relevant to the filmmaking industry.
	</div>
<br><br>
<div class="info verylight">
How much do I pay people I work with?</div> <div class="dtlinfotext light"> If you are using a Union team, you need to abide by the appropriate guilds pay schedule. Samples of SAG/AFTRA payments can be seen <a href="	http://www.sagaftra.org/production-center/interactive/signatory-information
">here.</a>
</div>

<br><br>
<div class="info verylight">
 Can I work with non-union  performers on my production?</div> <div class="dtlinfotext light"> Please be advised that it is the Producer’s responsibility to complete this report in its entirety or it will be returned for completion. This report must be submitted to SAG within 15 days from the date of the first employment of a non-member (25 days if on an overnight location). Members must fill out the <a href="https://drive.google.com/a/filmzu.com/?tab=mo#shared-with-me">Taft-Hartley</a>.
  
</div>
<br><br>
<div class="info verylight">
Where are you guys based out of?</div> <div class="dtlinfotext light">  Our head office is in <%= link_to "Santa Monica, CA", contact_us_path %> close to the big LA film industry. We also have team members based in the tech hub of San Francisco, CA and in beautiful Middle Earth, New Zealand. 
</div>
<br><br>
<div class="info verylight">
Who are the people of Filmzu?</div> <div class="dtlinfotext light"> You can read all about our star studded team on <%= link_to "our story", '/our_story' %> page.
</div>
<br><br>
<div class="info verylight">
How many lines of code is Filmzu made up of?</div> <div class="dtlinfotext light"> 207,523 and counting...
</div>
<br><br>
<div class="info verylight">
When was Filmzu Established?</div> <div class="dtlinfotext light"> We were founded in September of 2012, on our kickoff retreat to Middle Earth, also know as New Zealand.
</div>
<br><br>
<div class="info verylight">
Who should join Filmzu?</div> <div class="dtlinfotext light"> Filmzu is meant for a wide range of people, from filmmakers, actors, film students, agents, investors, companies, managers, fans, and even your family can participate!
</div>
<br><br>
<div class="info verylight">
Who is a filmmaker?</div> <div class="dtlinfotext light">   We do not like to constrain the title of a “filmmaker” solely to the people who produce and direct a film.  While we certainly do not aim to dilute the name of a filmmaker, but rather to bolster it up with all of the people who were a part of the process.  From the writers, actors, makeup artists, visual effects, sound engineers, composers, editors, production assistants, and everyone else who all had a hand in getting the film made-they are all filmmakers in a sense. 
</div>
<br><br>
<div class="info verylight">
What is your favorite movie line?</div> <div class="dtlinfotext light"> "Mama always said life was like a box of chocolates. You never know what you're gonna get." Forest Gump
</div>
<br><br>
<div class="info verylight">
Does Filmzu offer Crowdfunding?</div> <div class="dtlinfotext light">  We have <%= link_to "partnered with IndieGoGo", "http://www.indiegogo.com/partners/filmzu" %> to provide filmmakers who use Filmzu a dedicated channel to fundraise from the Filmzu community. If you are interested in setting up a IndieGoGo project with Filmzu then please get in <%= link_to "contact", contact_us_path %> with us. 
</div>
<br><br>
<div class="info verylight">
How can Filmzu help me get my film financed?</div> <div class="dtlinfotext light"> Filmzu has many film professionals including Investors and financiers. You are able to treat Filmzu as a matchmaking service, and <%= link_to "contact investors or businesses", users_path %> that might want to participate in your film. Not everyone will want to go out with you, but someone will.
</div>
<br><br>
<div class="info verylight">
Who owns the content on Filmzu?</div> <div class="dtlinfotext light"> The user retains 100% ownership of any content that is uploaded onto Filmzu. 
</div>
<br><br>
<div class="info verylight">
What Scenario should I create a project?</div> <div class="dtlinfotext light"> You can create a project and add your team to an already completed film, one you are casting for, or a film in production or post.  The idea is to build your audience and engage them with updates, behind the scenes shots, bloopers, etc. so when you release your film, or create your next one there are people who will want to see it.
</div>
<br><br>
<div class="info verylight">
Why do you show events?</div> <div class="dtlinfotext light"> <%= link_to "Events", events_path %> are the icing on the cake for anything, but have a lot value for promoters and fans. What if a person is new to a place and wants to see what is going on in the area tonight?  They can go on Filmzu and see what is popular or what they might be interested based on the event, location, and time.  This is a way to take an online audience and convert them to offline fans.
</div>
<br><br>
<div class="info verylight">
Why can I upvote/down vote events?</div> <div class="dtlinfotext light"> <%= link_to "Events", events_path %> are naturally viral, people want to go to popular events and we want people to strive to create great events that people can benefit going from.  Whether is it a premier, screening, workshop or casting call we want to ensure the community knows about your event and helps to promote it along with you.
</div>
<br><br>
<div class="info verylight">
I have more questions!</div> <div class="dtlinfotext light"> We're here to help. If you haven't found an answer to your question above then you can send us a message through our <%= link_to "contact page", contact_us_path %>, tweet us on <%= link_to "Twitter", "http://www.twitter.com/filmzu" %>, or get in touch on <%= link_to "Facebook", "http://www.facebook.com/filmzu" %>.

	<br><br><br>
</div></div></div></div></div>