<%= stylesheet_link_tag "static_pages/our_story.css" %>
<!--========= Attract top starts======------>
          <div class="attractwrap">
            <div class="attractshadow">
            <div class="attract container-fluid">
              <div class="row-fluid">
                <div class="toptext span10 offset1 medium text-center">OUR STORY</div>
                <div class="midtext span10 offset1 text-center light">
                  <p>In the 1920s eight major studios controlled all film creation and it was almost impossible to make a movie without them. In 1948 the Government ruled these studios were an illegal monopoly and brought  Hollywood's "Golden Age" to an end.</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            </div>
          </div>
        <!--========= Attract top end======------>
        <!--========= detailed info start======------>
          <div class="detailinfowrap" id="storiesinfo">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <div class="featureh light span11 offset1 text-center">It’s About Telling Great Stories; Its About Freedom for Filmmakers</div>
              <div class="featuretext span12 light text-center light">
                There was nothing golden about this era; artistic creativity was stifled and the films definitely weren’t all brilliant. As technology has progressed immeasurably the internet has altered how films are created, discovered, and shared. Today is filmmaking’s true golden age. Today a small team has set out to make sure history does not repeat itself; today we want to start a revolution, and invite you to be part of the journey towards creating the first virtual studio.              </div>
              </div>
              </div>
          </div>
        <!--========= detailed info ends======------>
        <!--========= detailed info start======------>
          <div class="detailinfowrap" id="featuredpeople">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <div class="dtlh1 span12 text-center medium">The Web is the Future of Media: Engage With Filmmakers and Fans</div>
              <article class="span6">
                <div class="web-future-img span3"><img src="/assets/pplg.png" alt="" /></div>
                <div class="web-future-text span8">
                  <div class="iusersn regular">2.27</div>
                  <div class="isuersh light">billion</div>
                  <div class="iusers light">internet users</div>
                </div>
              </article>
              <article class="span6">
                <div class="web-future-img span3"><img src="/assets/pplg.png" alt="" /></div>
                <div class="web-ftime-text span8">
                  <div class="fut-time span6">
                    <div class="fyear bold">2009</div>
                    <div class="fpercent bold">30<span class="light">%</span></div>
                  </div>
                  <div class="fut-time span6">
                    <div class="fyear bold">2014</div>
                    <div class="fpercent bold">90<span class="light">%</span></div>
                  </div>
                  <div class="fut-year-btm light">by 2014, 90% of all <span>content will be video</span></div>
                </div>
              </article>
              </div>
              </div>
          </div>
        <!--========= detailed info ends======------>
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="contentcreator">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <article class="span12">
                <div  class="moviepie dtlinfoimg span6" ><img src="/assets/contentcreator.png" alt="" /></div>
                <div class="dtltext span6">
                  <div class="dtlinfoh regular">Content Creators Have the Power</div>
                  <div class="dtlinfotext regular light">
Hollywood studios have competition in ways they could never have imagined ten years ago. Audiences are staying away from traditional theatres in order to stay home and watch niche content online. 
<br><br>
Filmzu gives professionals, students and businesses the opportunities to connect and collaborate on film or video projects by providing a market place where they can find people with the skills that they need to make their film.
                  	<span>
                    <a data-toggle='modal' data-target='#signup_modal' href=""> Join Now, for Free ></a>
                  </span>
                </div>
                </div>
              </article>
              </div>
              </div>
          
          </div>
        <!--========= featured projects ends======------>
        
       
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="featuredhub">
            <div class="featured container-fluid" >
              <div class="row-fluid">
              <div class="featureh light span12 text-center">We Wanted to Create a Hub Where Content Gets Made</div>
              <div class="featuretext span10 offset1 text-center light">
                Technology has made it cheaper and easier to take an idea for a film and actually make it happen. We love watching films and video online, but it’s hard to sort through all the content and interact with the filmmaker. There has typically been a separation between artist and audience, and we wanted to use technology to create opportunities for partnerships. We have huge plans for building the Filmzu community and this is just the beginning. We are developing tools that make it easier for filmmakers to find people with the skills that they need to make their film and engage their fans.  <a data-toggle='modal' data-target='#signup_modal' href="">Are you ready to be a part of the revolution?</a>
              </div>
              
              </div>
            </div>
          </div>
        <!--========= featured projects ends======------>
        
          <!--=========  featured projects starts======------>
          <div class="featurewrap" id="teamfounder">
            <div class="founder featured container-fluid" >
              <div class="row-fluid">
              <div class="featureh regular span12 text-center">Meet the Founders</div>
							<div class="featuretext span10 offset1 regular text-left">

We built this company to make filmmakers' lives easier.  We are the dreamers and tech-heads behind Filmzu, who saw a decades old monopoly stifling <b>an industry full of creatives</b> and decided to go and do something about it. Rupert Ralston, Nick Ghirardelli & John Motlow founded the company in September 2012 in Queenstown, New Zealand along with Christopher Lyons. They have lived, breathed and slept Filmzu for months and are pleased to finally bring their creation to the public eye.
							</div>
              <div class="founderslist text-center">
                <ul>
									<%= link_to "http://www.filmzu.com/people/rupert-ralston" do %>
                  <li class="fblue span3">
                    <div class="fndrimg" style="background:url('/assets/rupe.jpg');">
                      <!-- add image as background image -->
                    </div>
                    <div class="fndr-text">
                    <div class="fndrname">Rupert Ralston</div>
                    <div class="fndrtitle light">Co-founder</div>
                    <div class="fndrmail">rupe@filmzu.com</div>
                    </div>
                  </li>
									<% end %>
									<%= link_to "http://www.filmzu.com/people/nick-ghirardelli" do %>
                  <li class="fgreen span3">
                    <div class="fndrimg" style="background:url('/assets/nick.jpg');"></div>
                    <div class="fndr-text">
                    <div class="fndrname">Nick Ghirardelli</div>
                    <div class="fndrtitle light">Co-founder</div>
                    <div class="fndrmail">nick@filmzu.com</div>
                    </div>
                  </li>
									<% end %>
									<% if false %>
									<%= link_to "http://www.filmzu.com/people/john-motlow" do %>
                  <li class="fpurp span3">
                    <div class="fndrimg" style="background:url('/assets/john.jpg');"></div>
                    <div class="fndr-text">
                    <div class="fndrname">John Motlow</div>
                    <div class="fndrtitle light">Co-founder</div>
                    <div class="fndrmail">john@filmzu.com</div>
                    </div>
                  </li>
									<% end %>
									<% end %>
                </ul>
              </div>
              <div class="row-fluid">
              <div class="featureh regular span12 text-center">Meet the Team</div>
              <div class="featuretext span10 offset1 regular text-left">
								Rupert is a software developer, with a background in creating web and mobile applications. Nick brings in his business experience in building long term relationships to create successful companies. John rounds out the team with extensive time working in the online video sector, having been a director at two of the top San Francisco start-ups. 
								<br><br>
								Christopher & Kennard are our Creative and Design team, who have worked with TMobile, Universal, Johnson & Johnson. Anand & Vishnu are former Y Combinator graduates, who bring immense technical talent and round out our Development team. Our interns, Alex & Lucy, are multi-talented rockstars and we love their enthusiasm. 
								<br><br>
								We’re proud of the team we have built here at Filmzu. If you are interested in joining our story then we may have an <%= link_to "opportunity", opportunities_path %> for you. 
              </div>

           		<div class="teamlist textleft">
						                <ul>
						                  <li>
						                    <div class="teamimg"><img src="/assets/chris.jpg" alt="" /></div>
						                    <div class="teamtext">
						                    <div class="teamname bold">Christopher Lyons</div>
						                    <div class="teamtitle regular">Creative Director</div>
						                    <div class="teammail">chris@filmzu.com</div>
						                    </div>
						                  </li>
						                  <li>
						                    <div class="teamtext">
						                    <div class="teamname bold">Kennard Lily</div>
						                    <div class="teamtitle">Designer</div>
						                    </div>
						                    <div class="teamimg"><img src="/assets/kennard.jpg" alt="" /></div>

						                  </li>
						                  <li>
						                    <div class="teamimg"><img src="/assets/john.jpg" alt="" /></div>
						                    <div class="teamtext">
						                    <div class="teamname bold">John Motlow</div>
						                    <div class="teamtitle">Co Founder / Advisor</div>
						                    <div class="teammail light">john@filmzu.com</div>
						                    </div>
						                  </li>
															
															<a href="http://www.codebrahma.com">
						                  <li>
						                    <div class="teamtext">
						                      <div class="teamname bold">Anand Narayan</div>
						                      <div class="teamtitle">Developer</div>
							                    <div class="teammail light">codebrahma.com</div>
						                    </div>
						                    <div class="teamimg">
						                      <div class="teamimg"><img src="/assets/anand.jpg" alt="" /></div>
						                    </div>
						                  </li>
															</a>
															
															<%= link_to opportunities_path do %>
						                  <li>
						                    <div class="teamimg">
						                      <div class="teamimg"><img src="/assets/interns.jpg" alt="" /></div>
						                    </div>
						                    <div class="teamtext">
						                    <div class="teamname bold">Alex & Lucy</div>
						                    <div class="teamtitle">We ♥ our interns</div>
																<div class="teammail">alex@filmzu.com</div>
																<div class="teammail" style="margin-top: 0px">lucy@filmzu.com</div>
						                    </div>
						                  </li>
															<% end %>
															
						                </ul>
						                <div class="clearfix"></div>
						              </div>

						              </div>
						            </div>
						          </div>
        <!--========= featured projects ends======------>
            
				 <!-- ========= attract info starts======------>
	      <div class="attractinfowrap" id="worldmap">
	       <div class="featured container-fluid">
	         <div class="row-fluid">

	         <div class="featureh regular span12 text-center" id="worldmap">Our Promise to Filmmakers</div>
	         <div class="featuretext span10 offset1" id="worldmap">
					  <%= image_tag('map.png', :align => "right", :width => "50%", :height => "50%", :style => "margin-left:10px", :class => "img-rounded") %>
		
	           Our beta launch in November 2013 is just the beginning of what we have planned for filmmakers. We want to change the entire playing field of the film industry worldwide. We are currently building new tools to make filmmakers lives even easier, to give back freedom to the filmmakers.  
	         		</div>
	         </div>
	       </div>
				</div>
	      <!--========= attract info ends======---- -->
	
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="twitfb">
            <div class="featured container-fluid" >
              <div class="row-fluid">
              <a href="http://www.twitter.com/filmzu"><div class="featureh top20 regular span9  text-center"><img src="/assets/twitfbt_small.png" alt="" style='margin-right: 20px;'/> Follow us, we’d love to meet you!</div></a>
              <a href="http://www.facebook.com/filmzu"><div class="featureh regular span9 offset3 regular text-center">
                Connect with us on Facebook <img src="/assets/twitfbf_small.png" alt="" style='margin-left: 50px;'/>
              </div></a>
							 <a href="http://blog.filmzu.com"><div class="featureh regular span9 offset1 regular text-center">
	                Or visit our blog to see what we are thinking 
	              </div></a>
              <div data-toggle='modal' data-target='#signup_modal' class="startbutton span6 offset3 text-center">
                  <div class="strtbtn btn bold text-left"><div class="strtbtntext">Join Filmzu Today </div></div>
                </div>
              
              </div>
            </div>
          </div>
        <!--========= featured projects ends======------>