<%= stylesheet_link_tag "home_page.css" %>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    	<div class="dtlh1 span12 text-center regular">Our Partners</div>
    		<div class="discover clearfix">
        	<div class="info verylight"><a name="funding"></a>Funding</div>
						<div class="dtlinfotext light">
							<%= image_tag("partner-igg2.jpg", :width => "50%", :height => "50%", :class => "img-rounded", :alt => "Filmzu partners with IndieGoGo", :align => "right", :title => "Filmzu partners with IndieGoGo", :data => {:toggle => "tooltip"}) %>

							Filmzu has partnered with IndieGoGo to provide crowd-funding for projects. Filmzu will help your project reach your target audience through marketing, promotion, strategy and can produce the videos and content to keep your fan base engaged through the fund raising campaign. If you would like to Crowd-Fund we encourage you to get in contact with us through the <%= link_to "contact page", contact_us_path %> with a link to your project on Filmzu.
							<br>
							Filmzu's Partnership entails:<br>
							<ul>
								<li>Official press release promoting your campaign</li>
								<li>Financial contribution to your campaign</li>
								<li>Multiple promoted social media posts to reach 10,000+ film fans</li>
							</ul>
							Our expectations from you:<br>
							<ul>
								<li>Create project on Filmzu to engage your fans</li>
								<li>Add or find your team on Filmzu when available to credit them for their work</li>
							</ul>
							<%= link_to "See current and past projects we have funded on IndieGoGo", "http://www.indiegogo.com/partners/filmzu" %>
							
							</div>
					</div>
					<div class="discover clearfix">
	        	<div class="info verylight"><a name="distribution"></a>Investment</div>
							<div class="dtlinfotext light">

							We understand that some projects naturally lend themselves more towards being 'Crowdfundable' then others. We also understand that not all projects have a budget that can be reasonably expected to be crowdfunded. That's why we are setting up an investment community of individuals who are interested in financing projects they are interested in. 
							<br><br>
							You can search directly for investors on Filmzu and engage them directly or you can <%= link_to "contact us", contact_us_path %> to discuss your options for partnering with Filmzu for investment in your project. 
						</div>
				</div>
				<div class="discover clearfix">
        	<div class="info verylight"><a name="distribution"></a>Distribution</div>
						<div class="dtlinfotext light">

							We are currently in negotiations with Distribution companies to be able to provide a distribution service for every project that is managed through Filmzu. 
							<br><br>
							These distribution companies who can help with direct, online and/or traditional distribution. If you are interested then please <%= link_to "contact us", contact_us_path %>. 
							<br><br>
						</div>
				</div>
		</div>
	  </div>
	</div>
</div>
