<%= div_for comment do %>
        <div class="row-fluid roles-row">
					  <div class="well">
              <h5>
               <%= link_to comment.user.name, comment.user %> created a new update
							<% if comment.created_at > Time.now.beginning_of_day %>
							  <%="#{time_ago_in_words(comment.created_at)} ago"%>
							<% else %>
 							 on <%= comment.created_at.strftime('%A %d %B %Y at %I:%M%p') %>
							<% end %>
              </h5>
              <p>
              	<%= simple_format comment.content %>
								<% if comment.created_at != comment.updated_at %>
								<i>
									<% if comment.updated_at > Time.now.beginning_of_day %>
									    Edited <%="#{time_ago_in_words(comment.updated_at)} ago"%>  
									<% else %>
									    Edited on <%= comment.created_at.strftime("%A %d %B %Y at %I:%M%p") %> 
									<% end %>
									</i>
								<% end %>
							  <% if comment.user == current_user %>
							</p>  
							<p>
					      <%= link_to "Edit", edit_project_comment_path(@project, comment) %> |
					      <%= link_to "Destroy", [@project, comment], method: :delete %>
					    </p>
        		</div>
			  </div>
<% end %>
<% end %>