<div class="row-fluid">
  <%= image_tag 'vertical_rule.png', :class => "vertical-rule" %>
  <%= image_tag 'blog_circle.png', :class => "blog-circle blog-circle-top" %>

  <% comments.sort! { |a, b| Time.now - a.created_at <=> Time.now - b.created_at } %>

  <% comments.each_with_index do |comment, counter| %>
    
    <% width_class = counter.even? ? 'span5' : 'span5 offset2' %>
    <% arrow_class = counter.even? ? 'blog-arrow-left' : 'blog-arrow-right' %>

    <%= image_tag 'blog_circle.png', :class => "blog-circle" %>

    <div class="blog-post <%= width_class %>" id="blog<%= counter %>">
      <div class="blog-arrow <%= arrow_class %>"></div>
      <div class="well">
        <h5>
          <%= link_to comment.user.name, comment.user %> created a new update
          <%= "#{date_time_summary(comment.created_at)}" %>
        </h5>
        
        <p>
          <%= raw comment.content %>
          <br>
          <br>
          <% if comment.created_at != comment.updated_at %>
            <i> Edited <%= "#{date_time_summary(comment.updated_at)}" %> </i>
          <% end %>
        </p> 

        <p>
          <div class="comment-love" id="Comment-<%= comment.id %>">
            <%= render :partial => '/application/love_form.html.erb', :locals => { :id => comment.id, :type => 'Comment' } %>
          </div> 
          <% if can? :edit, comment %> |
            <%= link_to "Edit", edit_project_comment_path(@project, comment) %> 
          <% end %>
          <% if can? :destroy, comment %> |
            <%= link_to "Destroy", [@project, comment], method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </p>

      </div>
    </div>
  <% end %>

</div>