<div class="row-fluid">
	<div class="span9 offset1">
		<div class="well">
			<%= link_to("Go back", { :controller => "conversations", :action => "index" }) %>
			<h1><%= conversation.subject %></h1>
		
			<div class="well">
				<ul class="unstyled">
			<%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
			
				<% message = receipt.message %>
				
				<% if message.sender_id == current_user.id %>
				<div class="well">
						<p class="lead text-info"><%= message.subject %></p>
						<%= message.body %>
					</div>
				<% else %>
				
					<div class="well">
						<p class="lead"><%= message.subject %></p>
						<p><%= message.body %></p>
						<i>From: <%= User.find(message.sender_id).name %></i>
					</div>
				
				<% end %>				
				<% end %>
				</ul>
			</div>
			<%= render 'messages/form', conversation: conversation %>
		</div>
	</div>
</div>