<div class='container'>
  
	<div class='role_application_div' style="position: relative; margin-top: 50px; margin-bottom: 50px; padding-top: 20px; padding-bottom:20px; padding-left: 20px; margin-left: auto; margin-right: auto; width: 800px; background-color: white; -moz-border-radius: 15px; border-radius: 15px">
		
		  <% if current_user.can_apply_for?(@role) %>
		    <%= form_for RoleApplication.new do |role_application| %>
		      <h3>Position Application</h3>
		      Project - <%= @role.project.title %> <br/>
		      Position - <%= @role.name %> <br/>
		      Sub Position (if applicable)- <%= @role.subrole %> <br/>

		      <div class="control-group">
		        <label class='control-label' for='role_application[message]'>
		          <br>Please write or paste in your cover letter below:<br>
							<i>Your resume, and any other information will automatically be included on your application</i><br>
		        </label>
		        <div class="controls">
		          <%= role_application.text_area :message, :class => 'text_area required', :rows => 15 %>
		        </div>
		      </div>

		      <input type='hidden' name='role_application[role_id]' value= <%= @role.id %> >

		      <%= role_application.submit 'Submit Application', :class => 'btn btn-success btn_apply_for_position', data: { disable_with: 'Submitting...' } %>

		    <% end %>
		  <% elsif current_user.has_applied?(@role) %>  
		    <div class='text-center' style='margin-top: 40px;'>
		      <h4>You have already applied for this role.</h4>
		      <div class='row text-center'>
		        <br/>
		        <a href="/projects/<%= @role.project.id %>" class='btn btn-success'>Take me back to the project</a>
		      </div>
		    </div>
		  <% else %>
		    <div class='text-center' style='margin-top: 40px;'>
		      <h4>You are not eligible to apply for this role as your talents doesn't include the particular role - "<%= @role.name %>"</h4>
		      <div class='row text-center'>
		        <br/>
		        <a href="/projects/<%= @role.project.id %>" class='btn btn-success'>Take me back to the project</a>
		      </div>
		    </div>

		  <% end %>
	</div>
</div>