<%= f.fields_for :characteristics_attributes, current_user.characteristics || Characteristics.new do |c|   %>
  <div class='user-talent'>

    <% if false %> <!-- Exclude Fields -->
      <div class="control-group">
        <div class="controls">
          <%= talent.text_area :description, :class => 'textarea', :rows => "5", :placeholder => 'Tell us about your experience as an actor, what type of roles have you played? What are your strengths? Do you have a look that stands out?' %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= talent.check_box :_destroy, :class=>'destroy_checkbox', :style => 'display:none;' %>
        <!-- <a href='#' class='remove_entity' data-toRemove='.user-talent'>Remove this role</a> -->
      </div>    
    </div>
  
            
    <div class="row-fluid actor-characteristics">
  
      <div class="control-group">
        <div class="controls">
          <%= c.label "Age" %>
          <%= c.select(:age, options_for_select(Characteristics.ages, c.object.age)) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= c.label "Height" %>
          <%= c.select(:height, options_for_select(Characteristics.heights, c.object.height)) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= c.label "Ethnicity" %>
          <%= c.select(:ethnicity, options_for_select(Characteristics.enthnicities, c.object.ethnicity)) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= c.label "Build" %>
          <%= c.select(:bodytype, options_for_select(Characteristics.bodytypes, c.object.bodytype)) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= c.label "Hair Color" %>
          <%= c.select(:hair_color, options_for_select(Characteristics.hair_colors, c.object.hair_color)) %>
        </div>
      </div>

      <!-- <div class="control-group">
        <div class="controls">
          <%= c.label "Languages" %>
          <%= c.select(:language, options_for_select(Characteristics.languages, c.object.language)) %>
        </div>
      </div> -->


      <% if false %> <!-- Exclude Fields -->
        <div class="control-group">
          
          
          <div class='controls'>
            <%= c.label :description_tag_list %>

              <ul id="user_description_tags" class='tagit ui-sortable' style='width: 300px;'>
                <% if current_user.characteristics.present? and current_user.characteristics.description_tag_list.present? %>
                  <% current_user.characteristics.description_tag_list.each do |desc| %>
                    <li data-value="<%= desc %>"><%= desc %> </li>
                  <% end %>
                <% end %>
              </ul>

          </div>  

          <div class="controls">
            <%= c.hidden_field :description_tag_list, :class => 'text_field' %>
          </div>

        </div>
      <% end %>

    </div>

  </div>

<% end %>


    <div class='control-group'>

      <div class='controls'>
        <%= f.label 'Are You a part of any professional guilds' %>
      </div>

      <div class='controls radios'>
        <div class='option'>
          <%= f.radio_button 'guild_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_guild_container'  %>
          <%= label :guild_present, 'Yes', :class=>'radio_label' %>
        </div>

        <div class='option'>
          <%= f.radio_button 'guild_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_guild_container' %>
          <%= label :guild_present, 'No', :class=>'radio_label' %>
        </div>

      </div>

      <% if current_user.guild_present %>
        <div class='controls clearfix'>
          <div id='user_guild_container'>
            Which one?<br/>

            <% to_select = User.guilds.values.include?(current_user.guild) ? current_user.guild : "Other" %>

            <%= select_tag(:guild, options_for_select(User.guilds, to_select), :class => "guild_select") %>

            <% if to_select == 'Other' %>
              <%= f.text_field :guild, :class=>'guild_input', :placeholder => 'Tell us which one' %>
            <% else %>
              <%= f.text_field :guild, :class=>'guild_input', :placeholder => 'Tell us which one', :style => 'display:none;' %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class='controls'>
          <div id='user_guild_container' style='display: none;'>
            Which one?<br/>

            <%= select_tag(:guild_select, options_for_select(User.guilds), :class => 'guild_select') %>

            <!-- in this case, the value is set to the first value from the array because anyway the first one will be selected in the select box, if the select box is changed to show empty first., change the behaviour here also. -->
            <%= f.text_field :guild, :class=>'guild_input', :value => User.guilds.values.first, :placeholder => 'Tell us which one', :style => 'display:none;margin-top: 10px;' %>
          </div>
        </div>
      <% end %>

    </div>

    <div class='control-group'>

      <div class='controls'>
        <%= f.label 'Do you have an agent?' %>
      </div>
      
      <div class='controls radios'>
        <div class='option'>
          <%= f.radio_button 'agent_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_agent_name_container'  %>
          <%= label :agent_present, 'Yes', :class=>'radio_label' %>
        </div>

        <div class='option'>
          <%= f.radio_button 'agent_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_agent_name_container' %>
          <%= label :agent_present, 'No', :class=>'radio_label' %>
        </div>
      </div>

      <div class='controls clearfix'>
        <%= f.fields_for :agentship, current_user.agentship || Agentship.new  do |agentship| %>

          <%= agentship.hidden_field :agent_id %>

          <div id='user_agent_name_container'>
            <% if current_user.agent_present %>
              <input type='text' id='user_agent_name' placeholder='Enter your agents name' value='<%= agentship.object.agent.try(:name) %>'>
            <% else %>
              <input type='text' id='user_agent_name' placeholder='Enter your agents name'>
            <% end %>

            <div class='form_hint'>
              if you're agent doesn't have a filmmo profile, be sure to tell them to create one to help both of you get attention
            </div>
          </div>
        <% end %>

      </div>
    </div>