<div class="well">
	<% @user.errors.full_messages.each do |error| %>
	  <div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p><%= error %></p>
		</div>
	<% end %>
	
	<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
	  <%= f.fields_for :photo do |p|  %>
		  <% if @user.photo.image.present? %>
				<div class="control-group">
		    <%= p.label :file_name, :class => 'control-label' %>
					<div class="controls">
						<%= p.text_field :file_name, :class => 'text_field' %>
		 			</div>
				</div>
		    <div class="control-group">
				  <%= p.label "Profile Photo", :class => 'control-label' %>
			  	<div class="controls">
						<%= image_tag @user.photo.image.url(:medium), {:class => "img-polaroid"} %>					
						<%= p.check_box :_destroy %> Click Here to Destroy
						</div>
				</div>
				<% else %>
				<div class="control-group">
		    	<%= p.label :file_name, :class => 'control-label' %>
					<div class="controls">
						<%= p.text_field :file_name, :class => 'text_field' %>
		 			</div>
				</div>
				<div class="control-group">
					<p>Please Upload a Profile Image</p>
					<div class="controls">
						<%= p.file_field :image %>
			 		</div>
				</div>
	  	<% end %>
		<% end %>
		<div class="control-group">
	  <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	    <%= f.text_field :name, :class => 'text_field' %>
	    </div>
	  </div>
	 <div class="control-group">
	    <%= f.label :email, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :email, :class => 'text_field' %>
	    </div>
	  </div>
	 <div class="control-group">
	    <%= f.label :location, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :location, :class => 'text_field' %>
	    </div>
	  </div>
	 <div class="control-group">
	    <%= f.label :about, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_area :about, :class => 'text_area' %>
	    </div>
	 </div>
	
		<h2>What Positions Can you Do?</h2>
		
		<%= f.fields_for :talents do |talent|   %>
		 <div class="control-group">
			  <%= talent.label :name, :class => 'control-label' %>
				<div class="controls">
					<%= talent.select(:name, [['Actor'], ['Producer'], ['Director'], ['Technical'], ['Stuntmen']]) %>
			   </div>
		 </div>
		
		<div class="control-group">
	  <%= talent.label :description, :class => 'control-label' %>
	    <div class="controls">
	    <%= talent.text_area :description, :class => 'textarea', :rows => "5" %>	
	    </div>
	  </div>
		<% end %>

		<h2>A little more detail can help you get found!</h2>

	<%= f.fields_for :characteristics do |c|   %>
	 <div class="control-group">
		  <%= c.label :age, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :age, :class => 'text_field' %>
		   </div>
	 </div>
		<div class="control-group">
			 <%= c.label :height, :class => 'control-label' %>
				<div class="controls">
					<%= c.text_field :height, :class => 'text_field' %>
			   </div>
		</div>
		<div class="control-group">
		  <%= c.label :ethnicity, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :ethnicity, :class => 'text_field' %>
		   </div>
		</div>
		<div class="control-group">
			 <%= c.label :bodytype, :class => 'control-label' %>
				<div class="controls">
					<%= c.text_field :bodytype, :class => 'text_field' %>
			   </div>
		</div>	
		<div class="control-group">
		  <%= c.label :skin_color, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :skin_color, :class => 'text_field' %>
		   </div>
		</div>
		<div class="control-group">
			 <%= c.label :eye_color, :class => 'control-label' %>
				<div class="controls">
					<%= c.text_field :eye_color, :class => 'text_field' %>
			   </div>
		</div>
		<div class="control-group">
		  <%= c.label :hair_color, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :hair_color, :class => 'text_field' %>
		   </div>
		</div>
		<div class="control-group">
			 <%= c.label :chest, :class => 'control-label' %>
				<div class="controls">
					<%= c.text_field :chest, :class => 'text_field' %>
			   </div>
		</div>
		<div class="control-group">
		  <%= c.label :waist, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :waist, :class => 'text_field' %>
		   </div>
		</div>
		<div class="control-group">
			 <%= c.label :hips, :class => 'control-label' %>
				<div class="controls">
					<%= c.text_field :hips, :class => 'text_field' %>
			   </div>
		</div>
		<div class="control-group">
		  <%= c.label :dress_size, :class => 'control-label' %>
			<div class="controls">
				<%= c.text_field :dress_size, :class => 'text_field' %>
		   </div>
		</div>
	<% end %>	

	
	<%= f.fields_for :videos do |video| %>
		<% if @videos.present?  %>
		<% if video.object.thumbnail_small.present? %>
			<div class="control-group">
	    <label class="control-label">Video Preview</label>
				<div class="controls">
					<img src=<%= video.object.thumbnail_small %> class="img-polaroid" >
					<%= video.check_box :_destroy %> Click Here to Destroy
				</div>
			</div>
			<% end %>
			<div class="control-group">
	    <%= video.label :url, :class => 'control-label' %>
				<div class="controls">
					<%= video.text_field(:url) %>
				</div>
			</div>
			<% else %> 
				<div class="control-group">
					<label class="control-label">Youtube URL</label>
					<div class="controls">
					<%= video.text_field(:url) %>
					</div>
				</div>
			<% end %>
	<% end %>
<!-- End of Form -->

	  <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                users_path, :class => 'btn' %>
	  </div>
	<% end %>
</div>