<% @user.errors.full_messages.each do |error| %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <p>
    <%= error %>
  </p>
</div>
<% end %>

<%= form_for @user, :url => '/users/step_1', :html => { :class => 'form-horizontal' , :name => 'formElem', :id => 'user_edit_form'} do |f| %>
  <div class="span12">
    <h2>General Info</h2>
    
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field required', :placeholder => 'Real Name or Stage Name as you want it to come up in search' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field required email' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location, :class => 'control-label' %>
      <div class="controls location">
        <%= f.text_field :location, :class => 'text_field required' %>
        <div class="clearfix"></div>
        <%= image_tag("locate_me.png", :align => "left", :height => "30", :id => "locate") %>
        <i>Click icon for your location</i>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :gender, :class => 'control-label' %>
      <div class="controls gender">
        <div class='option text-center pull-left'>
          <%= radio_button("user", "gender", "male", {:checked => (!@user.gender.nil? && (@user.gender == "male" && 'checked')) || "false"}) %>
          <%= label :gender_male, 'Male' %>
        </div>
        <div class='option text-center pull-left'>
          <%= radio_button("user", "gender", "female", {:checked => (!@user.gender.nil? && (@user.gender == "female" && 'checked')) || "false"}) %>
          <%= label :gender_male, 'Female' %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :imdb_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :imdb_url, :class => 'text_field', :placeholder => "It's oki if you don't, we all started somewhere!" %>
      </div>
    </div>

    <%= f.fields_for :profile, @user.profile || @user.build_profile  do |profile|  %>
      <div class="control-group">
        <%= profile.label "Profile Picture", :class => 'control-label' %>

        <div class='controls'>
          
        </div>
        
        <% if @user.profile.image.present? %>
          <div class="controls">
            <%= image_tag @user.profile.image.url(:medium), {:class => "image_preview_container img-polaroid"} %>
          </div>
        <% else %>
          <!-- just keep the container there in case to preview if user uploads an image. -->
          <img class='image_preview_container img-polaroid' src="">
        <% end %>
          
        <div class="controls">
          <%= profile.file_field :image %>
        </div>

        <div class='controls upload_progress'>
          Upload Progress:
          <div class='progress'>
            <div class='bar' style='width: 0%'></div>
          </div>
        </div>

      </div>
    <%end%>


    <h4>Roles</h4>
              
    <%= f.fields_for :talents do |talent|   %>
      <div class='user-talent'>
        <div class="control-group">
          <%= talent.label :name, "Role", :class => 'control-label' %>
          <div class="controls">
            <%= talent.select(:name, options_for_select(User.types, talent.object.name), {}, :class=>'super_role_select') %>
          </div>

          <% if talent.object.sub_talent.present? %>
            <div class='sub_role_container'>
              <%= talent.label "Sub Role", :class => 'control-label' %>
              <div class="controls">
                <%= talent.select(:sub_talent, options_for_select(User.sub_types[talent.object.name], talent.object.sub_talent)) %>
              </div>
            </div>
          <% else %>
            <div class='sub_role_container' style='display: none;'>
              <%= talent.label :sub_talent, :class => 'control-label' %>
              <div class="controls">
                <%= talent.select(:sub_talent, {}) %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="controls">
          <%= talent.check_box :_destroy, :class=>'destroy_checkbox', :style=>'display:none;' %>

          <a href='#' class='remove_entity' data-toRemove='.user-talent'>Remove this role</a>
        </div>

      </div>
    <% end %>

    
    <div id="fields-for-talents-list" class="numerous">
      <%= f.fields_for :talents, Talent.new, :child_index => 'replace_this' do |talent| %>
        <div class="control-group">
          <%= talent.label "Role", :class => 'control-label' %>
          <div class="controls">
            <%= talent.select(:name, options_for_select(User.types), {}, :class=>'super_role_select') %>
          </div>

          <div class='sub_role_container' style='display: none;'>
            <%= talent.label "Sub Role", :class => 'control-label' %>
            <div class="controls">
              <%= talent.select(:sub_talent, {}) %>
            </div>
          </div>

        </div>
      
        
        <div class='control-group sub_role_container'>
          
        </div>


        <%= link_to 'Remove', '#', :class => 'numerous-remove' %>
      <% end %>
    </div>

    <div id="talents-list"></div>
    
    <div class='control-group'>
      <div class='controls'>
        <!-- don't allow user to add more than 3 talents -->
        <% if @user.talents.count < 2 %>
          <%= link_to 'Add another role', '#', :id => 'add-to-talents-list' %>
        <% else %>
          <%= link_to 'Add another role', '#', :id => 'add-to-talents-list', :style => 'display:none;' %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'About you', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :about, :class => 'text_area' %>
        <div class='div_hint'>
          1 paragraph is all you need!
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :headline, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :headline, :class => 'text_field hinted', "data-hint" => 'Some good examples: <br/> - I directed my first feature when I was 12.<br/> - I graduated from NYU Film School and won award for music videos, <br/> - I know how to make awesome horror movies for cheap' %>
        <div class='div_hint'>
          200 characters Max (more than Twitter gives you)
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Experience", :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:experience, options_for_select(User.experience, @user.experience), {}, :class=>'hinted', "data-hint" => 'Tell us how long you have been working in the film industry. Be honest, otherwise you might lose a position you really wanted!') %>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Skills</label>

      <div class='controls'>
        <%= f.hidden_field :expertise, :class => 'text_field' %>
        
          <ul id="expertise_tags" class='tagit ui-sortable'>
            <% if @user.expertise.present? %>
              <%= @user.expertise.split(',').each do |exp_tag| %>
                <li data-value="<%= exp_tag %>"><%= exp_tag %> </li>
              <% end %>
            <% end %>
          </ul>
        
      </div>    
    </div>

    
    <div class='span12'>
      <div class='text-center form_footer'>
        <div class='links'>
          <%= f.submit "Next Step" %>
        </div>
        
        You are almost done! Go to the next page to enter the fun stuff! Or you can check out profile and enter the rest of the stuff later
      </div>
    </div>

  </div>
<% end %>