<% @users.each_with_index do |user, counter| %>
<div class="row-fluid result">
  <div class="span2">
    <% if user.profiles.present? %>
    <%= link_to user do %>
      <%= image_tag user.profiles.image %>
    <% end %>
    <% end %>
  </div>
  <div class="user-details span5">
    <h3><span><% if user.name.present? %> <%= link_to user do %> <%= user.name %> <% end %> <% end %></span></h3>
    <span class="user-location row-fluid">
      <span data-toggle="modal" data-target="#location-modal-<%= counter %>" data-keyboard="true" class="location-modal-button">
           <% if user.location.present? %> <%= user.location %> <% end %>
      </span>
      <% if user.location.present? %>
        <!-- Location Modal -->
        <div id="location-modal-<%= counter %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header left-aligned">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3><span><%= user.name.split[0..0].join(" ") %></span></h3>
           <% if user.location.present? %><p><span><%= user.location %></span></p> <%end %>
          </div>
          <div class="modal-body">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= user.location %>&zoom=11&size=400x300&sensor=false">
          </div>
        </div>
        <!-- End Location Modal --> 
      <%end %>
    </span>
    <span class="row-fluid talents">
      <%= if user.talents.first.present? then user.talents.first.name end%>
      
      <% if user.talents.second.present? %> 
      / <%= user.talents.second.name %> 
      <% end%>
    </span>
    
  </div>
  <div class="headline-message span5">
    <div class="row-fluid headline">
      <span class="headline-content">
        <% if user.headline.present? %>
          <%= shorten :text => user.headline, :length => 100, :partial => "more_headline", :counter => counter %>
          <!-- Headline Modal -->
            <div id="headline-modal-<%= counter %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header left-aligned">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><span><%= user.name.split[0..0].join(" ") %></span></h3>
              </div>
              <div class="modal-body">
                <%= simple_format user.headline %>  
              </div>
            </div>
            <!-- End Headline Modal --> 
        <% end %>
      </span>
    </div>
    
    <div class="message-follow-row">
      <% if current_user %>
      <a data-toggle="modal" data-target="#message-modal-<%= counter %>" 
            data-remote ="<%= new_conversation_path(:recipient => user.email, :modal => true)%>"
            data-keyboard="true" class="message-button"><%= image_tag('mail_icon.png') %> Message</a>
      <!-- Message Modal -->
        <div id="message-modal-<%= counter %>" class="modal hide fade left-aligned message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3><span>Message <%= user.name.split[0..0].join(" ") %></span></h3>
          </div>
          <div class="modal-body">
          </div>
        </div>
      <!-- Message Modal --> 
      <% end %>
      <div class="follow-button">
        <%= render :partial => "follow_button", :locals => {:user => user} %>
      </div>
      <div class="follow-count">
        <span class="fan-count" data-user-id="<%= user.id%>"><%= Friendship.where( :friend_id => user.id).count %></span> Fans
      </div>
    </div>
  </div>
</div>
<% end %>
