<!-- Main Content -->
<section id="user-header" class="section alt user-header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="row-fluid header-bubble">
          <div class="span5">
            <div class="row-fluid">
              <div class="span6">
                <% if @user.profiles.present? %> 
                  <a href="#">
                    <div class="profile-pic">  
                    <%= image_tag @user.profiles.image, :"data-toggle" => "modal", :"data-target" => "#photos-modal", :"data-keyboard"=>"true" %>
                    </div>
                  </a>
                  <!-- Photos Modal -->
                  <div id="photos-modal" class="modal hide fade photos-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-body">
                      <div id="photoCarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                          <div class="active item"><div class="item-container"><%= image_tag @user.profiles.image %></div></div>
                          <% @user.photos.each_with_index do |photo, counter| %>
                            <div class="item">
                              <div class="item-container"><%= image_tag photo.image %>
                              <div class="row-fluid"><%= photo.description %></div></div>
                            </div> 
                          <% end %>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#photoCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#photoCarousel" data-slide="next">&rsaquo;</a>
                      </div>
                    </div>
                  </div>
                  <!-- End Photos Modal --> 
                <% end %>
              </div>
              <div class="span6 centered-text details">
                <h3><% if @user.name.present?%><%= @user.name %><% end %></h3>
                <% if @user.location.present? %>
                  <span data-toggle="modal" data-target="#location-modal" data-keyboard="true" class="location-modal-button">
                     <%= @user.location %>
                  </span>
                  <!-- Location Modal -->
                  <div id="location-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header left-aligned">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3><span><%= @user.name.split[0..0].join(" ") %></span></h3>
                     <% if @user.location.present? %><p><span><%= @user.location %></span></p> <%end %>
                    </div>
                    <div class="modal-body">
                      <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @user.location %>&zoom=11&size=400x300&sensor=false">
                    </div>
                  </div>
                  <!-- End Location Modal --> 
                <%end %>
                <div class="row-fluid">
                  <div class="span6 talents">
                    <%= if @user.talents.first.present? then @user.talents.first.name end%>
                  </div>
                  <div class="span6 talents">
                    <%= if @user.talents.second.present? then @user.talents.second.name end%>
                  </div>
                </div>
                
                <div class="row-fluid message-row">
                  <a data-toggle="modal" data-target="#message-modal" 
                        data-remote ="<%= new_conversation_path(:recipient => @user.email, :modal => true)%>"
                        data-keyboard="true" class="message-button">Message</a>
                  <!-- Message Modal -->
                    <div id="message-modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3><span>Message <%= @user.name.split[0..0].join(" ") %></span></h3>
                      </div>
                      <div class="modal-body">
                      </div>
                    </div>
                  <!-- Message Modal --> 
                </div>
              </div>
            </div>
          </div>
          <div class="span5 offset1">
            <div class="row-fluid left-aligned">
              <h3>
                <%= [@user.talents.first.name, @user.talents.second.name].reject(&:empty?).join(' and ') %>
              </h3>
            </div>
            <div class="row-fluid left-aligned headline">
              <%= if @user.headline.present? then simple_format @user.headline end %>
            </div>
            <div class="row-fluid follow-buttons">
              <div class="span4 centered-text">
                <h5>Following </h5>
                <h5><%= @user.friendships.all.count %></h5>
              </div>
              <div class="span4 centered-text">
                <h5>Followers </h5>
                <h5><%= @user.friendships.all.count %></h5>
              </div>
              <div class="span4 camera-heart centered-text">
                <%= link_to(friendships_path(friend_id: @user), method: :post, :class => '') do %>
                  <%= image_tag 'camera_heart.png' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id = "user-body" class="user-body" data-id="<%=@user.id%>">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 offset1 menu">
        <div class="container-fluid">
          <div class="row-fluid user-menu" data-link="about_me">
            <div class="item name"><h3>About Me</h3></div> 
              <div class="arrow item">
                <%= image_tag('red_arrow.png') %>
              </div>
          </div>
          <% if @user.talents.first.present? %>
          <div class="row-fluid user-menu" data-link="first_role">
            <div class="item name"><h3><%= @user.talents.first.name %> </h3></div>  
              <div class="arrow item">
                <%= image_tag('red_arrow.png') %>
              </div>
          </div>
          <% end %>
          <% if @user.talents.second.present? %>
          <div class="row-fluid user-menu" data-link="second_role">
            <div class="item name"><h3><%= @user.talents.second.name %> </h3></div>  
              <div class="arrow item">
                <%= image_tag('red_arrow.png') %>
              </div>
          </div>
          <% end %>
          <div class="row-fluid user-menu" data-link="pictures">
            <div class="item name"><h3>Pictures </h3></div> 
              <div class="arrow item">
                <%= image_tag('red_arrow.png') %>
              </div>
          </div>
          <div class="row-fluid user-menu" data-link="projects">
            <div class="item name"><h3>Projects </h3></div> 
              <div class="arrow item">
                <%= image_tag('red_arrow.png') %>
              </div>
          </div>
        </div>
      </div>
      <div class="span8 content">
        
        
      </div>
    </div>
  </div>
</section>