
<div class='step_progress'>
  Make your profile beautiful and complete it! you're almost done!
  <br>
  Step 2 of 3
  <div class="progress">
    <div class="bar" style="width: 60%;"></div>
  </div>
</div>

<%= form_for current_user, :url => '/users/step_2', :html => { :class => 'form-horizontal' , :name => 'formElem', :id => 'user_edit_form_step_2'} do |f| %>
  <div class="span12">

    <div class="controls">
      You said you're <%= current_user.talent_names.join(' and ') %>
    </div>

    <%= f.fields_for :talents do |talent| %>

      <% if talent.object.name == 'Cast' %>
        <%= render :partial => 'characteristics_form', :locals => { :f => f, :talent => talent} %>
      <% elsif talent.object.name == 'Writer' %>
        <%= render :partial => 'writer_form', :locals => { :f => f, :talent => talent} %>
      <% elsif talent.object.name == 'Agent' %>
        <%= render :partial => 'agent_form', :locals => { :f => f, :talent => talent} %>
      <% else %>
        <div class='user-talent'>
          <div class="controls">
            <h5><%= talent.object.name.camelize %></h5>
          </div>
          <% if false %> <!-- Exclude Fields -->
          <div class="control-group">
            <div class="controls">
              <%= talent.text_area :description, :class => 'textarea', :rows => "5", :placeholder => "Tell us about your experience as a #{talent.object.name}" %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">

              <%= talent.check_box :_destroy, :class=>'destroy_checkbox', :style=>'display:none;' %>

              <a href='#' class='remove_entity' data-toRemove='.user-talent'>Remove this role</a>

            </div>    
          </div>
					<% end %> <!-- End Exclude Field -->
        </div>
      <% end %>
    <% end %>


    <div class='control-group'>

      <div class='controls'>
        <%= f.label 'Are You a part of any professional guilds' %>
      </div>

      <div class='controls radios'>
        <div class='option'>
          <%= f.radio_button 'guild_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_guild_container'  %>
          <%= label :guild_present, 'Yes', :class=>'radio_label' %>
        </div>

        <div class='option'>
          <%= f.radio_button 'guild_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_guild_container' %>
          <%= label :guild_present, 'No', :class=>'radio_label' %>
        </div>

      </div>

      <% if current_user.guild_present %>
        <div class='controls clearfix'>
          <div id='user_guild_container'>
            Which one?<br/>

            <% to_select = User.guilds.values.include?(current_user.guild) ? current_user.guild : "Other" %>

            <%= select_tag(:guild, options_for_select(User.guilds, to_select), :class => "guild_select") %>

            <% if to_select == 'Other' %>
              <%= f.text_field :guild, :class=>'guild_input', :placeholder => 'Tell us which one' %>
            <% else %>
              <%= f.text_field :guild, :class=>'guild_input', :placeholder => 'Tell us which one', :style => 'display:none;' %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class='controls'>
          <div id='user_guild_container' style='display: none;'>
            Which one?<br/>

            <%= select_tag(:guild_select, options_for_select(User.guilds), :class => 'guild_select') %>

            <!-- in this case, the value is set to the first value from the array because anyway the first one will be selected in the select box, if the select box is changed to show empty first., change the behaviour here also. -->
            <%= f.text_field :guild, :class=>'guild_input', :value => User.guilds.values.first, :placeholder => 'Tell us which one', :style => 'display:none;' %>
          </div>
        </div>
      <% end %>

    </div>

    <div class='control-group'>

      <div class='controls'>
        <%= f.label 'Do you have an agent?' %>
      </div>
      
      <div class='controls radios'>
        <div class='option'>
          <%= f.radio_button 'agent_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_agent_name_container'  %>
          <%= label :agent_present, 'Yes', :class=>'radio_label' %>
        </div>

        <div class='option'>
          <%= f.radio_button 'agent_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_agent_name_container' %>
          <%= label :agent_present, 'No', :class=>'radio_label' %>
        </div>
      </div>

      <div class='controls clearfix'>
        <%= f.fields_for :agentship, current_user.agentship || Agentship.new  do |agentship| %>

          <%= agentship.hidden_field :agent_id %>

          <div id='user_agent_name_container'>
            <% if current_user.agent_present %>
              <input type='text' id='user_agent_name' placeholder='Enter your agents name' value='<%= agentship.object.agent.try(:name) %>'>
            <% else %>
              <input type='text' id='user_agent_name' placeholder='Enter your agents name'>
            <% end %>

            <div class='div_hint'>
              if you're agent doesn't have a Filmzu profile, be sure to tell them to create one to help both of you get attention
            </div>
          </div>
        <% end %>

      </div>
    </div>

    
    <%= f.fields_for :resume, current_user.resume || current_user.build_resume do |r|  %>

      <div class="control-group resume-div">

        <div class='controls clearfix'>
          <%= r.label "Resume:", :class => 'control-label', :style=>'text-align: left;' %>
        </div>

        <% if current_user.resume.present? and current_user.resume.document.present? %>
          <div class='controls'>
            <a class='upload_doc_preview' href="<%= current_user.resume.document.url %>" target='_black'><%= current_user.resume.filename %></a>
          </div>
        <% else %>
          <!-- hide initially, but when a file uploaded show the preview -->
          <div class='controls'>
            <a class='upload_doc_preview' href="#" target='_black' style='display: none;'>Check your uploaded doc.</a>
          </div>
        <% end %>

        <div class="controls">
          <%= r.file_field :document %>
          <div class='div_hint'>
						Upload a PDF or Microsoft Word Document, keep file size to 1MB
						</div></div>

        <div class='controls upload_progress'>
          Upload Progress:
          <div class='progress'>
            <div class='bar' style='width: 0%'></div>
          </div>
        </div>

        <% if current_user.resume.present? and current_user.resume.document.present? %>
          <div class="controls">
            <%= r.check_box :_destroy, :class=>'destroy_checkbox', :style=>'display:none;' %>
            <a href='#' class='remove_entity' data-toRemove='.resume-div' style='top:0px;'>Remove resume</a>
          </div>
        <% end %>
      </div>

    <% end %>
    </div>

    <div class='span12'>
      <div class='text-center form_footer'>
        <div class='links'>
          <%= f.submit "One More Step", :class=>'step_2_submit' %>
          <%= f.submit "Skip it! Go to my profile", :class=>'skip step_2_submit' %>
        </div>
        
        Your almost done! Go to the next page to enter your pics and demo reel! Or you can check out your profile now and enter the rest of the stuff later
      </div>
    </div>

<% end %>