
<%= form_for current_user, :url => '/users/step_2', :html => { :class => 'form-horizontal' , :name => 'formElem', :id => 'user_edit_form_step_2'} do |f| %>
  <div class="span12">

    You said you are a <%= current_user.talent_names.join(' and ') %>

    <%= f.fields_for :talents do |talent|   %>

      <% if talent.object.name == 'Cast' %>
        <%= render :partial => 'characteristics_form', :locals => { :f => f, :talent => talent} %>
      <% elsif talent.object.name == 'Writer' %>
        <%= render :partial => 'writer_form', :locals => { :f => f, :talent => talent} %>
      <% end %>

    <% end %>


    <div class='control-group'>

      <%= f.label 'Do you have an agent?' %>
      
      <div class='controls'>
        <%= f.radio_button 'agent_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_agent_name'  %>
        <%= label :agent_present, 'Yes', :class=>'radio_label' %>
        <%= f.radio_button 'agent_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_agent_name' %>
        <%= label :agent_present, 'No', :class=>'radio_label' %>

        <%= f.fields_for :agentship, current_user.agentship || Agentship.new  do |agentship| %>

          <%= agentship.hidden_field :agent_id %>

          <% if agentship.object.agent_id.present? %>
            <input type='text' id='user_agent_name' placeholder='Enter your agents name' value='<%= agentship.object.agent.name %>'>
          <% else %>
            <input type='text' id='user_agent_name' placeholder='Enter your agents name'>
          <% end %>

        <% end %>
      </div>
    </div>

    <div class='control-group'>

      <%= f.label 'Are You a part of any professional guilds' %>
      
      <div class='controls'>
        
        <%= f.radio_button 'guild_present', 'true', :class => 'toggler_radio', 'data-target' => '#user_guild'  %>
        <%= label :guild_present, 'Yes', :class=>'radio_label' %>
        <%= f.radio_button 'guild_present', 'false', :class => 'toggler_radio', 'data-target' => '#user_guild' %>
        <%= label :guild_present, 'No', :class=>'radio_label' %>

        <% if @user.guild.present? %>
          <%= f.select(:guild, options_for_select(User.guilds, @user.guild)) %>
        <% else %>
          <%= f.select(:guild, options_for_select(User.guilds), {}, {:style => 'display: none;'}) %>
        <% end %>

      </div>
    </div>


    <h3>Upload Your Resume</h3>
    <%= f.fields_for :resume, current_user.resume || current_user.build_resume do |r|  %>

      <div class="control-group">
        <% if current_user.resume.present? and current_user.resume.document.present? %>
          <div class='controls'>
            <a class='upload_doc_preview' href="<%= current_user.resume.document.url %>" target='_black'>Check your previous doc.</a>
          </div>
        <% else %>
          <!-- hide initially, but when a file uploaded show the preview -->
          <div class='controls'>
            <a class='upload_doc_preview' href="#" target='_black' style='display: none;'>Check your uploaded doc.</a>
          </div>
        <% end %>


        <%= r.label "Resume", :class => 'control-label' %>
        <div class="controls">
          <%= r.file_field :document %>
        </div>

        <div class='controls upload_progress'>
          Upload Progress:
          <div class='progress'>
            <div class='bar' style='width: 0%'></div>
          </div>
        </div>
      </div>

    <% end %>
    </div>

    <%= f.submit "Next Step" %>
<% end %>