
<%= form_for current_user, :url => '/users/step_3', :html => { :class => 'form-horizontal' , :name => 'formElem', :id => 'user_edit_form_step_3'} do |f| %>
  <div class="span12">

    <h2>More Photos</h2>

    <%= f.fields_for :photos do |p|  %>
      <% if current_user.photos.exists? %>
        <div class="control-group">
          <%= p.label "Photo", :class => 'control-label' %>
          <div class="controls">
            <%= image_tag p.object.image.url(:medium), {:class => "img-polaroid image_preview_container"} %>
            <%= p.file_field :image %>
            <%= p.check_box :_destroy %> Click Here to Destroy
          </div>
        </div>

        <div class="control-group">
          <%= p.label "Description", :class => 'control-label' %>
          <div class="controls">
            <%= p.text_area :description, :class => 'textarea', :rows => "5"%>
          </div>
        </div>
      <% end %>
    <% end %>

    <div id="fields-for-photos-list" class="numerous">
      <%= f.fields_for :photos, Photo.new, :child_index => 'replace_this' do |photo| %>
        <div class="control-group">

          <!-- just keep the container there in case to preview if user uploads an image. -->
          <img class='image_preview_container img-polaroid' src="">

          <div class="controls">
            <%= photo.file_field :image %>
          </div>

          <%= photo.label :description, :class => 'control-label' %>
          <div class="controls">
            <%= photo.text_area :description, :class => 'textarea', :rows => "5" %>
          </div>
        </div>

        <%= link_to 'Remove', '#', :class => 'numerous-remove' %>
      <% end %>
    </div>

  <div id="photos-list"></div>

  <%= link_to 'Add Another Photo', '#', :id => 'add-to-photos-list' %>


    <h2>Cover Photo</h2>
      <%= f.fields_for :cover_photo, (current_user.cover_photo || Photo.new) do |user_cover_photo|  %>

        <div class='row'>
          <div class='span3'>
            <div class="control-group">
              <!-- if image exits, allow to change it -->
              <% if user_cover_photo.object.image.present? %>
                <img src=<%= user_cover_photo.object.image.url(:medium) %> class="image_preview_container img-polaroid" >
              <% else %>
                <!-- just keep the container there in case to preview if user uploads an image. -->
                <img class='image_preview_container img-polaroid' src="">
              <% end %>

              <div class="controls">
                <%= user_cover_photo.file_field :image, :validate => true %>
              </div>

              <div class='controls upload_progress'>
                Upload Progress:
                <div class='progress'>
                  <div class='bar' style='width: 0%'></div>
                </div>
              </div>

              <input type='hidden' value='1' name='user[cover_photo_attributes][is_cover]'>

            </div>
          </div>

          <div class='span3'>
            <div class="control-group">
              <label class="control-label">Image Description</label>
              <div class="controls">
                <%= user_cover_photo.text_field :description %>
              </div>
            </div>
          </div>

        </div>
      <% end %>


      <div class='span12'>
        <div class='text-center form_footer'>
          <div class='links'>
            <%= f.submit "Finish! Go to my profile" %>
          </div>
          
          Congrats! You are now a part of a community od dedicated film professionals.<br/>
          By clicking Finish, you are agree to abide by Filmzu's Terms and Conditions
        </div>
      </div>

  </div>

<% end %>