#singup_client_modal.modal.modal-1.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        .row
          .modal-close
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          .col-xs-6.left
            %h3 New to FilmZu?
            %p.subtitle Create an account today!
            = simple_form_for(User.new, :as => resource_name, :url => registration_path(resource_name), :method => :post) do |f|
              .form-group
                %label Full Name
                = f.text_field :name, :validate => { :presence => true }, :placeholder => 'Full Name', :class => 'form-control'
              
              .form-group.form-group-help
                %label Email Address
                = f.text_field :email, :validate => { :presence => true }, :placeholder => 'Email address', :class => 'form-control'
              
              .form-group
                %label Password
                = f.password_field :password, :validate => { :presence => true }, :placeholder => 'Password', :class => 'form-control'
                %p.help-block.text-right Minimum 6 characters.
              .form-group
                %label Password Confirm
                = f.password_field :password_confirmation, :validate => { :presence => true }, :placeholder => 'Password', :class => 'form-control'
                %p.help-block.text-right Minimum 6 characters.
                
              .checkbox
                %label
                  %input{type: "checkbox"}
                  I agree to FilmZu's
                  %a{href: "#"} Terms and Conditions
                %p.checkbox-help
                I will not send unsolicited materials to FilmZu Members.
                FilmZu may promote my profile per my settings. I'm 18+ years
                old or have permission from a parent/rep.
                
                = f.submit "I'm ready, let me in", :class => 'button btn btn-blue btn-full-width btn-lmd amt-3'
            
              %a.modal-link{"data-target" => "#singup_filmaker_modal", "data-toggle" => "modal", "data-dismiss" => "modal"} Sign Up as Filmaker
          .col-xs-6.right
            %h3 Log In with Facebook
            %p.subtitle Fast and easy, and we don't post without permission
            %a.btn.btn-blue.btn-full-width.btn-modal-sn.snb-1{href: "#"}
              %i.fa.fa-facebook
              %span.btn-text
                Log In With Facebook
              .clearfix