
  <div class='control-group'>
    <%= date.label :date, :class => 'control-label' %>
    <div class='controls'>
      <%= date.text_field :date, :class => 'date_field' %> at <%= date.text_field :time_string, :class => 'time_field' %>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <%= date.label :description %>
      <%= date.text_field :description, :class => 'required', :validate => { :presence => true } %>
    </div>
  </div>