<%= javascript_include_tag "events/events_manifest" %>
<%= stylesheet_link_tag "events/manifest.css" %>

<div class='container'>
  <div class='row'>
    <div class='span12'>

      <div class='row event-main-head'>
        <div class='span8'>
          <div class='row event-main-details'>
            <div class='span8 event-title'>
              <h2><%= @event.title %></h2>
            </div>
            <div class='span8 event-date-time'>
              <%= @event.start.pretty_date %> - <%= @event.end.pretty_date %>
            </div>
          </div>
        </div>
        <div class='span4'>
          <div class='event-actions'>
            <div class='row text-center'>
              <% if @event.attending?(current_user) %>
                <span class='span2 btn-custom btn-red center-div text-center btn-attend unattend' data-event-id='<%= @event.id %>' >
                  Attending
                </span>
              <% else %>
                <span class='span2 btn-custom btn-red center-div text-center btn-attend' data-event-id='<%= @event.id %>' >
                  Attend
                </span>
              <% end %>
            </div>

            <div class='row text-center'>
              <% if @event.liked_by?(current_user) %>
                <span class='span2 btn-custom btn-light-grey center-div text-center btn-like unlike' data-event-id='<%= @event.id %>' >
                  <span class='like-thumb-icon'></span>
                  <span class='text'>Un Like</span>
                </span>
              <% else %>
                <span class='span2 btn-custom btn-light-grey center-div text-center btn-like' data-event-id='<%= @event.id %>' >
                  <span class='like-thumb-icon'></span>
                  <span class='text'>Like this</span>
                </span>
              <% end %>
            </div>

            <div class='row text-center'>
             
              <span class='span2 btn-custom btn-light-grey center-div text-center btn-invite-followers' data-event-id='<%= @event.id %>' >
                Invite Followers
              </span>
              
            </div>
          </div>

        </div>
      </div>
      <!-- event-main-head -->

      <div class='row'>
        <div class='span8 grey-backdrop'>
          
          <div class='row event-photos'>
            <div class='span8 photos-container'>
              <div class="fotorama" data-width="650" data-ratio="700/377" data-max-width="100%" data-nav="thumbs" data-fit="cover">
                <img src="<%= @event.main_photo.image %>">
                <% @event.other_photos.each do |photo|  %>
                  <img src="<%= photo.image %>" >
                <% end %>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='pull-right' id='comments_div'>

            </div>
          </div>
          
        </div>
        <div class='span4 right-container'>
          
          <div class='row details-right grey-backdrop'>
            <div class='location-details span4'>
              <span class='location-img-blue pull-left'></span>
              <span class='pull-left location-address'>
                <%= @event.location %>
              </span>
            </div>
            
            <div class='event-links row'>
              <div class='span4 text-center'>
                <a href="<%= @event.website %>" target='_blank'>Visit website</a>
                <span class='dot-seperator-red'></span>
                <a href="<%= @event.website %>" data-toggle='modal' data-target='#event_map_modal'>Visit Map</a>
              </div>
            </div>

            <div class='row clearfix'>
              <div class='grey-line-divider'></div>
            </div>

            <div class='owner-row row'>
              <div class='span4 shrink-div'>
                <span class='pull-left owner-img'>
                  <img src="<%= @event.user.profile_pic %>" class='img-circle'>
                </span>
                <span class='owner pull-left'>
                  created by
                  <br/>
                  <span class='owner-name'>
                    <%= @event.user.name %>
                  </span>
                </span>
                
                <% if current_user %>
                  <span class='btn-custom btn-light-grey text-center btn-message_organizer pull-right' data-event-id='<%= @event.id %>' data-toggle='modal' data-target='#message_event_organizer_modal'>
                    Message
                  </span>
                <% end %>  
              </div>

            </div>

            <div class='row clearfix'>
              <div class='grey-line-divider'></div>
            </div>

            <div class='row'>
              <div class='span4 shrink-div text-center event-tags'>
                <% @event.tag_list.each do |tag| %>
                  <span class='badge badge-custom-green'>
                    <%= tag %>
                  </span>
                <% end %>
              </div>
            </div>

            <div class='row clearfix'>
              <div class='shaded-divider'></div>
            </div>

            <div class='row'>
              <div class='span4 text-center'>
                <a href="#" class='g-link share-link'>
                  <img src="/assets/g-link.png">
                </a>
                <a href="#" class='fb-link share-link'>
                  <img src="/assets/fb-link.png">
                </a>
                <a href="#" class='twitter-link share-link'>
                  <img src="/assets/twitter-link.png">
                </a>
              </div>
            </div>

          </div>

          <div class='clearfix'></div>

          <div class='row about-div right-extra-div'>
            <div class='span4 shrink-div head'>
              <span class='pull-left'>
                <h3>About</h3>
              </span>
              <span class='btn-show-all pull-right'></span>

            </div>

            <div class='span4'>
              <div class='row clearfix'>
                <div class='grey-line-divider'></div>
              </div>
            </div>

            <div class='span4 shrink-div desc'>
              <%= @event.description %>
            </div>
          </div>

          <div class='row clearfix'>
            <div class='grey-line-divider no-margin'></div>
          </div>

          <div class='right-extra-div coming-div row' id='who_coming'>

          </div>

          <div class='right-extra-div coming-div row' id='similar_events'>

          </div>



        </div>
      </div>

    </div>
  </div>
</div>

<%= render :partial => 'events/templates/comments' %>
<%= render :partial => 'events/templates/comment' %>
<%= render :partial => 'events/templates/attendees' %>
<%= render :partial => 'events/templates/attendee' %>
<%= render :partial => 'events/templates/similar_events' %>
<%= render :partial => 'events/templates/similar_event' %>

<%= render :partial => 'events/modals' %>

<script type="text/javascript">

$(document).ready(function(){

  app.current_user = <%= raw current_user.to_json(:only => [:name, :id]) %>

  app.event_data = <%= raw @event.to_json() %>
  
  app.comments = new app.collections.comments()

  app.comments.reset(<%= raw @event.comments.to_json(:include => [:user, :likes]) %>)

  app.comments_view = new app.views.comments({ collection: app.comments })

  $('#comments_div').html(app.comments_view.render().el)


// who is coming
  app.attendees = new app.collections.attendees()
  app.attendees.reset(<%= raw @event.attendees.to_json() %>)
  app.attendees_view = new app.views.attendees({ collection: app.attendees })

  $('#who_coming').html( app.attendees_view.render().el )


// similar events
  similar_events = new app.collections.similar_events()
  similar_events.reset(<%= raw Event.custom_json(@event.similar_events, current_user) %>)
  similar_events_view = new app.views.similar_events({ collection: similar_events })

  $('#similar_events').html( similar_events_view.render().el )


  var LatLong = new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>)
   var mapOptions = {
    zoom: 10,
    center: LatLong,
  };
  map = new google.maps.Map(document.getElementById('event-map'), mapOptions);
  var marker = new google.maps.Marker({
      position: LatLong,
      map: map,
      title: 'Event Location'
  });


  // listen to the new comment creation event
  $(document).on('newComment', function(event){
    
    comment = new app.models.comment(event.comment)

    app.comments.add(comment)
    
    $('#comment_please_wait').hide()
    $('textarea#comment_content').attr('disabled', false).val('')
  });

});

</script>