<%= javascript_include_tag "events/events_manifest" %>
<%= stylesheet_link_tag "events/manifest.css" %>

<div class='container'>
  <div class='row main-event-row'>
    <div class='event-votes-parent pull-left'>
      <div class='event-vote-div'>

        <% if @event.voted_by_user?(current_user) and @event.voted_type_by_user(current_user) == 'up' %>
          <div class='vote-action show_page up-vote active' data-eventid = '<%= @event.id %>' data-type='up_vote'> </div> 
        <% else %>
          <div class='vote-action show_page up-vote' data-eventid = '<%= @event.id %>' data-type='up_vote'> </div>
        <% end %>
        
        <div class='votes-count'>
          <%= @event.votes_count %>
        </div>

        <% if @event.voted_by_user?(current_user) and @event.voted_type_by_user(current_user) == 'down' %>
          <div class='vote-action show_page down-vote active' data-eventid = '<%= @event.id %>' data-type='down_vote'> </div>
        <% else %>
          <div class='vote-action show_page down-vote' data-eventid = '<%= @event.id %>' data-type='down_vote'> </div>
        <% end %>

      </div>
    </div>
    <div class='span12'>   
      <div class='row event-main-head'>
        <div class='span8'>
          <div class='row event-main-details'>
            <div class='span8 event-title bold'>
              <%= @event.title %>
            </div>
            <div class='span8 event-date-time'>
              <%= @event.start.pretty_date %> - <%= @event.end.pretty_date %>
            </div>
          </div>
        </div>
        <div class='span4'>
          <div class='event-actions'>
            <div class='row text-center'>
              <% if @event.attending?(current_user) %>
                <span class='span2 btn-custom btn-red center-div text-center btn-attend unattend' data-event-id='<%= @event.id %>' >
                  Attending
                </span>
              <% else %>
                <span class='span2 btn-custom btn-red center-div text-center btn-attend' data-event-id='<%= @event.id %>' >
                  Attend
                </span>
              <% end %>
            </div>

            <% if current_user != @event.user %>
              <div class='row text-center'>
                <% if @event.liked_by?(current_user) %>
                  <span class='span2 pull-left btn-custom btn-light-grey center-div text-center btn-like unlike' data-event-id='<%= @event.id %>' >
                    <span class='like-thumb-icon'></span>
                    <span class='text'>Un Like</span>
                  </span>
                <% else %>
                  <span class='span2 btn-custom btn-light-grey center-div text-center btn-like' data-event-id='<%= @event.id %>' >
                    <span class='like-thumb-icon'></span>
                    <span class='text'>Like this</span>
                  </span>
                <% end %>

                <span class='span2 pull-left btn-custom btn-light-grey center-div text-center btn-invite-followers' data-event-id='<%= @event.id %>' >
                  Invite Followers
                </span>
              </div>
            <% elsif current_user == @event.user %>
              <a href='/events/<%= @event.id %>/edit'>
                <span class='span2 btn-custom btn-light-grey center-div text-center btn-edit'>
                  Edit Event
                </span>
              </a>
              <span class='span2 pull-left btn-custom btn-light-grey center-div text-center btn-invite-followers' data-event-id='<%= @event.id %>' >
                Invite Followers
              </span>
            <% end %>

          </div>

        </div>
      </div>
      <!-- event-main-head -->

      <div class='row'>
        <div class='span8 grey-backdrop'>
          
          <div class='row event-photos'>
            <div class='span8 photos-container'>

              <!--========= Slider Starts======------>
                <div class="hdrsliderwrap">
                    <div class="row-fluid">
                      <div id="slider" class="flexslider span12">
                        <ul class="slides span12">
                          <% @event.all_photos.each do |photo|  %>
                            <li style="background:url(<%= photo.image.url(:large) %>);"></li>
                          <% end %>
                        </ul>
                        </div>
                      <div class="row-fluid">
                        <% if @event.user == current_user %>
                          <div id="carousel" class="flexslider span11">
                              <ul class="slides">
                                <% @event.all_photos.each do |photo|  %>
                                  <li style="background:url(<%= photo.image.url(:medium) %>);"></li>
                                <% end %>
                              </ul>
                          </div>
                          <div class="addnew text-center" data-toggle='modal' data-target='#add_event_photos_modal'>
                            <span class="light plus">+</span>
                            <span class="meduim add">ADD</span>
                            <span class="light">EVENT</span>
                            <span class="light">PHOTO</span>
                          </div>
                        <% else %>
                          <div id="carousel" class="flexslider span11 not_owner">
                              <ul class="slides">
                                <% @event.all_photos.each do |photo|  %>
                                  <li style="background:url(<%= photo.image.url(:medium) %>);"></li>
                                <% end %>
                              </ul>
                          </div>
                        <% end %>                        
                        
                      </div>
                    </div>    
                </div>
                  <!--========= Slider ends======------>
            </div>
          </div>

          <div class='row'>
            <div class='pull-right' id='comments_div'>

            </div>
          </div>
          
        </div>
        <div class='span4 right-container'>
          
          <div class='row details-right grey-backdrop'>
            <div class='location-details span4'>
              <span class='location-img-blue pull-left'></span>
              <span class='pull-left location-address light'>
                <%= @event.location %>
              </span>
            </div>
            
            <div class='event-links row'>
              <div class='span4 text-center'>
                <% if @event.website.present? %>
									<a href="http://<%= @event.website.gsub('http://', '') %>" target='_blank'>Visit website</a>
                	<span class='dot-seperator-red'></span>
								<% end %>
                <a href="#" data-toggle='modal' data-target='#event_map_modal'>Visit Map</a>
              </div>
            </div>

            <div class='row clearfix'>
              <div class='grey-line-divider'></div>
            </div>

            <div class='owner-row row'>
              <div class='span4 shrink-div'>
                <span class='pull-left owner-img'>
                  <img src="<%= @event.user.profile_thumb %>" class='img-circle'>
                </span>
                <span class='owner pull-left'>
                  created by
                  <br/>
                  <span class='owner-name medium'>
                    <a href='/users/<%= @event.user.url_param %>'><%= @event.user.name %></a>
                  </span>
                </span>
                
                <% if current_user && current_user != @event.user %>
                  <span class='btn-custom btn-light-grey text-center btn-message_organizer pull-right' data-event-id='<%= @event.id %>' data-toggle='modal' data-target='#message_event_organizer_modal'>
                    <span class='envelop-light-icon'></span>
                    Message
                  </span>
                <% end %>  
              </div>

            </div>

            <div class='row clearfix'>
              <div class='grey-line-divider'></div>
            </div>

            <div class='row'>
              <div class='span4 shrink-div text-center event-tags'>
                <% @event.tag_list.each do |tag| %>
                  <span class='badge badge-custom-green'>
                    <%= tag %>
                  </span>
                <% end %>
              </div>
            </div>

            <div class='row clearfix'>
              <div class='shaded-divider'></div>
            </div>

            <div class='row share_area text-center'>
              <%= social_share_button_tag(@event.title) %>
            </div>

          </div>

          <div class='clearfix'></div>

          <div class='row about-div right-extra-div'>
            <div class='span4 shrink-div head'>
              <span class='pull-left'>
                <h3>About</h3>
              </span>
              <span class='btn-show-all pull-right'></span>

            </div>

            <div class='span4'>
              <div class='row clearfix'>
                <div class='grey-line-divider'></div>
              </div>
            </div>

            <div class='span4 shrink-div desc'>
              <% if @event.description.length > 200 %>
                <%= truncate(@event.description, :length => 200, :separator => ' ') %> <a class='read_more_btn' data-content='<%= @event.description %>' data-header='Event Description - <%= @event.title %>' >Read more</a>
              <% else %>
                <%= @event.description %> 
              <% end %>
            </div>
          </div>

          <div class='row clearfix'>
            <div class='grey-line-divider no-margin'></div>
          </div>

          <div class='right-extra-div coming-div row' id='who_coming'>

          </div>

          <div class='right-extra-div coming-div row' id='similar_events'>

          </div>

          <% if @event.valid_videos.present? %>
            <div class='row right-extra-div' id='event_video'>
              <%= raw @event.valid_videos.first.embed_code %>
            </div>
          <% end %>

          <div class='row right-extra-div' id='report_div'>
            <div class='span4 shrink-div head'>
              <span class="pull-left">
                <h3 class='action-div report_entity' data-toggle='modal' data-target='#report-modal' title='Report Event'>
                  <i class='icon-exclamation-sign'></i>
                  <%= link_to "#" do %> Report<% end %> 
                </h3>
              </span>
              
              <div class='clearfix'></div>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>


<!-- Add more event photos modal -->
<div id="add_event_photos_modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><span>Add Event Photos</span></h3>
  </div>
  <%= form_for @event, :validate => true do |event| %>

    <div class="modal-body">
      <div id='fields-for-event_photos-list' class='numerous'>
        <%= event.fields_for :other_photos, Photo.new, :child_index => 'replace_this' do |photo| %>
          <div class='control-group row'>
            <div class="span3">
              <div class='controls upload_progress'>
                Upload Progress:
                <div class='progress'>
                  <div class='bar' style='width: 0%'></div>
                </div>
              </div>

              <div class="controls">
                <img src='' class="image_preview_container img-rounded" >
              </div>
            </div>

            <div class='span3'>
              <div>
                <label class="control-label">Event Image</label>
                <div class="controls">
                  <%= photo.file_field :image %>
                </div>
              </div>
            </div>

            <!-- url is updated when the image is created and uploaded  -->
            <%= photo.hidden_field :remote_image_url, :class => 'photo_url_div' %>

          </div>
          
          <%= link_to 'Remove', '#', :class => 'numerous-remove pull-right' %>
          
        <% end %>

      </div>

      <div id='event_photos-list'></div>

      <%= link_to 'Add one more Photo', '#', :id => 'add-to-event_photos-list' %>
    </div>

    <div class='modal-footer'>
      <%= event.submit 'Save Photos', :class => 'btn btn-primary' %>
      <button class='btn' data-dismiss="modal">Cancel</button>
    </div>

  <% end %>
</div>


<%= render :partial => 'events/templates/comments' %>
<%= render :partial => 'events/templates/comment' %>
<%= render :partial => 'events/templates/attendees' %>
<%= render :partial => 'events/templates/attendee' %>
<%= render :partial => 'events/templates/similar_events' %>
<%= render :partial => 'events/templates/similar_event' %>

<%= render :partial => 'application/read_more_modal' %>

<%= render :partial => 'events/modals' %>

<%= render :partial => 'application/report_modal', :locals => { :entity => @event } %>

<script type="text/javascript">

$(document).ready(function(){

  // bind read more btn click event
  app.fn.bind_read_more_show()

  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 100,
    maxItems: 4,
    asNavFor: '#slider'
  });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });

  $('.show_tooltip').tooltip()

  app.current_user = <%= raw current_user.to_json(:only => [:name, :id]) %>

  app.event_data = <%= raw @event.to_json() %>
  
  app.comments = new app.collections.comments()

  app.comments.reset(<%= raw @event.comments.to_json(:include => [:user, :likes], :check_user => current_user) %>)

  app.comments_view = new app.views.comments({ collection: app.comments })

  $('#comments_div').html(app.comments_view.render().el)
  app.fn.init_comment_image_file_uploader($('#comment_photo_attributes_image'), '/comments/files_upload')


// who is coming
  app.attendees = new app.collections.attendees()
  app.attendees.reset(<%= raw @event.attendees.last(8).to_json() %>)
  app.attendees_view = new app.views.attendees({ collection: app.attendees, total_attendees: <%= @event.attendees.count %> })

  $('#who_coming').html( app.attendees_view.render().el )


// similar events
  similar_events = new app.collections.similar_events()
  similar_events.reset(<%= raw Event.custom_json(@event.similar_events.first(4), current_user) %>)
  similar_events_view = new app.views.similar_events({ collection: similar_events })

  $('#similar_events').html( similar_events_view.render().el )


  
  <% if @event.latitude.present? and @event.longitude.present? %>

    $('#event_map_modal').on('shown', function(){
      var LatLong = new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>)
      var mapOptions = {
        zoom: 10,
        center: LatLong,
      };
      var map = new google.maps.Map(document.getElementById('event-map'), mapOptions);
      var marker = new google.maps.Marker({
          position: LatLong,
          map: map,
          title: 'Event Location'
      });
      google.maps.event.trigger(map, 'resize');  
    });
  <% end %>

  



  // listen to the new comment creation event
  $(document).on('newComment', function(event){
    
    comment = new app.models.comment(event.comment)

    app.comments.add(comment)
    
    $('#comment_please_wait').hide()
    $('textarea#comment_content').attr('disabled', false).val('')
    $('#comment_video_attributes_url').attr('disabled', false).val('')
    $('#comment_url_attributes_url').attr('disabled', false).val('')
    $('#comment_photo_attributes_image').attr('disabled', false)
    $('button.post_update').attr('disabled', false)
    $('.post_comment_btn').hide()
    app.post_button_shown = false
    // remove the image preview if a photo was uploaded and clear the hidden url value
    $('.image_preview_container').hide()
    $('.photo_url_div').val('')
  });

  // listen to the comment error event event
  $(document).on('commentError', function(event){
    alert(event.message)
    $('#comment_please_wait').hide()
    $('textarea#comment_content').attr('disabled', false)
    $('#comment_video_attributes_url').attr('disabled', false)
    $('#comment_url_attributes_url').attr('disabled', false)
    $('#comment_photo_attributes_image').attr('disabled', false)
    $('button.post_update').attr('disabled', false)
    app.post_button_shown = false
    // remove the image preview if a photo was uploaded and clear the hidden url value
    $('.image_preview_container').hide()
    $('.photo_url_div').val('')
  });

  app.fn.init_show_post_button_handler()

});

</script>