.banner
  .container.text-center
    %h1 Your Vision. Your Video.
    %h3 made exclusively for you
    %button.btn.btn-orange.btn-slg{"data-target" => "#singup_modal", "data-toggle" => "modal", type: "button"} Start a New Project
.steps
  .container
    %h2.text-center How it Works
    .steps-container
      .col-xs-12
        .row
          .col-xs-4.text-center
            = image_tag "step1.png"
            %h3 List Your Project
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .col-xs-4.text-center
            = image_tag "step2.png"
            %h3 Receive Proposals
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .col-xs-4.text-center
            = image_tag "step3.png"
            %h3 Get Your Video
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      .clearfix
.customer-successes
  .container
    %h2.text-center Customer Successes
    = image_tag "home_video.png"
.testimonials
  .container.text-center
    %h3 "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor..."
    = image_tag "fast_company_logo.png"
.red-bar
  .container.text-center
    %a.btn.btn-white.btn-slg{href: "#"} Post Your Job For Free!
    .clearfix
    %a.white-link{href: "#"} Register as a Filmaker


