<div class="container">
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="row-fluid">
        <div class="span12">
      <div class="page-header">
          <h1>
              About <%= @project.title %>
          </h1>
        </div>
      <article class="blog-post">
        
        <p>
            <%= @project.description %>
						<% if @project.photos.present? then %>
						<%= image_tag @project.photos.first.image %>
						<% else %>
						<%= image_tag "biz/people1-400x400.jpeg" %>
					<% end %>
        </p>
        <!-- <%= link_to "MORE", "#" %> -->
    </article>

  </div>
</div>