<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
        <h1>
            About <%= @project.title %>
        </h1>
    </div>
  </div>
  <div class="row-fluid dates">
    <p><span class="label">Starts:  </span><span><%= @project.start %></span><span class="label">Ends:  </span><span><%= @project.end %></span></p>
  </div>
  <div class="row-fluid">
    <div class="span9">
      <p>
          <%= simple_format(@project.description) %>
    	</p>
    </div>
    <div class="span3 centered-text">
      <%= render 'contact' %>
    </div>
  </div>
</div>
