<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
 
<script>
	$(function() {
		$( "#start" ).datepicker();
		$( "#end" ).datepicker();
	});
</script>

<div class="well">
	<% @project.errors.full_messages.each do |error| %>
	  <div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p><%= error %></p>
		</div>
	<% end %>
	<%= form_for @project, :html => { :class => 'form-horizontal' } do |p| %>
		
		<div class="control-group">
	  <%= p.label :title, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :title, :class => 'text_field' %>
	    </div>
	  </div>
	
	 	<div class="control-group">
	  <%= p.label :description, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_area :description, :class => 'textarea', :rows => "5" %>	
	    </div>
	  </div>
	
	 	<div class="control-group">
	  <%= p.label :start, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :start, :id => 'start' %>
	    </div>
	  </div>
	
	 	<div class="control-group">
	  <%= p.label :end, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :end, :id => 'end' %>
	    </div>
	  </div>
	
	<h2>Youtube Video</h2>
	 <!-- <div class="control-group">
		  <%= p.label :title, :class => 'control-label' %>
			<div class="controls">
				<%= p.select(:title, [['Hello']]) %>
		   </div>
	 </div> -->
		<h2>Talent Required</h2>
		
		<%= p.fields_for :roles do |role|   %>
		 <div class="control-group">
			  <%= role.label :name, :class => 'control-label' %>
				<div class="controls">
					<%= role.select(:name, [['Actor'], ['Producer'], ['Director'], ['Technical'], ['Stuntmen']]) %>
			   </div>
		 </div>
		
		<div class="control-group">
	  <%= role.label :description, :class => 'control-label' %>
	    <div class="controls">
	    <%= role.text_area :description, :class => 'textarea', :rows => "5" %>	
	    </div>
	  </div>
		<% end %>
		<div id="fields-for-list" class="numerous">
			<%= p.fields_for :roles, Role.new, :child_index => 'replace_this' do |role| %>
		  <div class="control-group">
				  <%= role.label :name, :class => 'control-label' %>
					<div class="controls">
						<%= role.select(:name, [['Actor'], ['Producer'], ['Director'], ['Technical'], ['Stuntmen']]) %>
				   </div>
			 </div>
			
			<div class="control-group">
		  <%= role.label :description, :class => 'control-label' %>
		    <div class="controls">
		    <%= role.text_area :description, :class => 'textarea', :rows => "5" %>	
		    </div>
		  </div>
		
		    <%= link_to 'Remove', '#', :class => 'numerous-remove' %>
		<% end %>
		</div>


<div id="list"></div>
<%= link_to 'Add More Talent', '#', :id => 'add-to-list' %>

<!-- End of Form -->

	  <div class="form-actions">
	    <%= p.submit nil, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                projects_path, :class => 'btn' %>
	  </div>
	<% end %>
</div>