<div class="well">

	<%= form_for @project, :html => { :class => 'form-horizontal' } do |p| %>
		<div class="control-group">
	  <%= p.label :title, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :title, :class => 'text_field' %>
	    </div>
	  </div>
	 	<div class="control-group">
	  <%= p.label :description, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :description, :class => 'text_field' %>
	    </div>
	  </div>
	<!-- DEV NOTES
	Einz: Use jQuery or Bootstrap based Datepicker here 
	Tswei: Create Validations
	Drei Azzhole: Start to Think about importing New Assets for Form such as Video and Images -->
		<div class="control-group">
	  <%= p.label :start, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :start, :class => 'date_field' %>
	    </div>
	  </div>
		<div class="control-group">
	  <%= p.label :end, :class => 'control-label' %>
	    <div class="controls">
	    <%= p.text_field :end, :class => 'date_field' %>
	    </div>
	  </div>
<!-- End of Form -->

	  <div class="form-actions">
	    <%= p.submit nil, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                project_path, :class => 'btn' %>
	  </div>
	<% end %>
</div>