<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
 
<script>
	$(function() {
		app.fn.initialize_datetime_picker('.datetime_field')
	});
</script>


<% @project.errors.full_messages.each do |error| %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><%= error %></p>
    </div>
<% end %>
  
<div class="row">
  <div class="span12 edit-project">
    <h2>Edit Project</h2>
    <div id="wrapper" class="row-fluid">
      <div id="navigation" style="display:none;">
        <ul>
          <li class="selected">
            <a href="#">Project Details</a>
          </li>
          <li>
            <a href="#">Project Media</a>
          </li>
          <li>
            <a href="#">Talent Required</a>
          </li>
          <li>
            <a href="#">Project Description</a>
          </li>
          <li>
            <a href="#">Producer's Corner</a>
          </li>
          <li>
            <a href="#">Finish</a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div id="steps">
        <%= form_for @project, :validate => true, :html => { :class => 'form-horizontal' , :name => 'formElem', :id => 'formElem'} do |p| %>

        <fieldset class="step details">
          <div class="span12">
            <h2>Project Details</h2>
            <div class="control-group">
            <%= p.label :title, :class => 'control-label' %>
              <div class="controls">
              <%= p.text_field :title, :class => 'text_field required' %>
              </div>
            </div>
          
            <div class="control-group">
            <%= p.label :location, :class => 'control-label' %>
              <div class="controls">
              <%= p.text_field :location, :class => 'text_field' %>
              </div>
            </div>

            <h4>Important Dates</h4>

            <div class="dates-container">
              
              <%= p.fields_for :project_dates do |date| %>
                <%= render :partial => 'projects/imp_dates_input', :locals => { :date => date } %>
              <% end %>

              <div id='fields-for-project_dates-list' class='numerous'>
                <%= p.fields_for :project_dates, ProjectDate.new, :child_index => 'replace_this' do |date| %>

                  <%= render :partial => 'projects/imp_dates_input', :locals => { :date => date } %>

                  <%= link_to 'Remove', '#', :class => 'numerous-remove pull-left' %>

                <% end %>
              </div>

              <div id='project_dates-list'></div>

              <%= link_to 'Add an important Date', '#', :id => 'add-to-project_dates-list' %>
            </div>
          
            <div class="control-group">
            <%= p.label 'Project Type', :class => 'control-label' %>
              <div class="controls">
              <%= p.select(:status, options_for_select(@status, @project.status)) %>
              </div>
            </div>
        
            <div class="control-group">
            <%= p.label 'Compensation', :class => 'control-label' %>
              <div class="controls">
                <%= p.select(:compensation, options_for_select(@compensation, @project.compensation)) %>
              </div>
            </div>
          
            <div class="control-group">
            <%= p.label :genre, :class => 'control-label' %>(select maximum 2)
              <div class="controls">
                <%= p.select(:genre, options_for_select(@genres, @project.genre), {}, {:multiple => true, :size => 3 }) %>
              </div>
            </div>
          
            <div class="control-group">
            <%= p.label 'Type', :class => 'control-label' %>
              <div class="controls">
                <%= p.select(:is_type, options_for_select(@is_type, @project.is_type), {}, {:multiple => true, :size => 3 }) %>
              </div>
            </div>
          </div>
        </fieldset>
        
        <fieldset class="step media-content">
          <div class="span12">
            <h2>Project Media</h2>
            <h4>Youtube / Vimeo Video</h4>
            <!-- Begin Videos -->
            <%= p.fields_for :videos do |video| %>
              <% if @videos.present? %>
                <% if video.object.thumbnail_small.present? %>
                  <div class="control-group">
                  <label class="control-label">Video Preview</label>
                    <div class="controls">
                      <img src=<%= video.object.thumbnail_small %> class="img-polaroid" >
                      <%= video.check_box :_destroy %> Click Here to Delete
                    </div>
                  </div>
                <% end %>
                <div class="control-group">
                  <%= video.label :url, :class => 'control-label' %>
                  <div class="controls">
                    <%= video.text_field(:url) %>
                  </div>
                </div>
              <% else %> 
                <div class="control-group">
                  <label class="control-label">URL</label>
                  <div class="controls">
                  <%= video.text_field(:url) %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <!-- End Videos -->
            <h4>Photos</h4>
            <!-- Begin Photos -->
            <%= p.fields_for :photos do |p|  %>
            <% if p.object.image.present? %>
              <div class="control-group">
                <div class="controls">
                  <img src=<%= p.object.image.url(:medium) %> class="img-polaroid" >
                  <%= p.check_box :_destroy %> Delete Image               
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                  <%= p.text_field :description, :class => 'text_field' %>
                </div>
              </div>

            <% else %>
              <div class="control-group">
                <label class="control-label">Project Images</label>
                <div class="controls">
                  <%= p.file_field :image %>
                </div>
              </div>
            <% end %>

            <% end %>
          </div>
        </fieldset>
        
        <fieldset class="step roles-content">
          <div class="span12">
            <h2>Talent Required</h2>
            
            <% if @project.roles.exists? %>
              
              <%= p.fields_for :roles do |role|   %>
                <div class="control-group">
                  <%= role.label :name, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.select :name, @talents%>
                   </div>
                </div>
              
                <div class="control-group">
                  <%= role.label :subrole, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.text_area :subrole, :class => 'textarea', :rows => "1" %>  
                  </div>
                </div>
              
                <div class="control-group">
                <%= role.label :description, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.text_area :description, :class => 'textarea', :rows => "5" %>  
                    <br>
                    <%= role.check_box :filled %> Role Filled?
                    <br>
                    <%= role.check_box :_destroy %> Click Here to Destroy
                  </div>
                </div>
              <% end %>

            <% end %>

            <div id="fields-for-roles-list" class="numerous">
              <%= p.fields_for :roles, Role.new, :child_index => 'replace_this' do |role| %>
                <div class="control-group">
                  <%= role.label :name, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.select(:name, options_for_select(@talents)) %>
                  </div>
                </div>
                
                <div class="control-group">
                  <%= role.label :subrole, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.text_area :subrole, :class => 'textarea', :rows => "1" %>  
                  </div>
                </div>
              
                <div class="control-group">
                  <%= role.label :description, :class => 'control-label' %>
                  <div class="controls">
                    <%= role.text_area :description, :class => 'textarea', :rows => "5" %>  
                    <%= role.check_box :filled %> Role Filled?
                  </div>
                </div>
              
                <%= link_to 'Remove', '#', :class => 'numerous-remove' %>
              <% end %>
            </div>

            <div id="roles-list"></div>
            
            <%= link_to 'Add More Talent', '#', :id => 'add-to-roles-list' %>
          </div>

        </fieldset>
        
        <fieldset class="step project-description">
          <div class="span12">
            <h2>Project Description</h2>
            
            <div class="control-group">
              <%= p.label :description, :class => 'control-label' %>
              <div class="controls">
                <%= p.text_area :description, :class => 'textarea', :rows => "5" %> 
              </div>
            </div>

            <div class="control-group">
              <%= p.label :headline, :class => 'control-label' %>
              <div class="controls">
                <%= p.text_area :headline, :class => 'textarea', :rows => "5" %> 
              </div>
            </div>

          </div>
        </fieldset>
        
        <fieldset class="step producers-corner">
          <div class="span12">
            <h2>Producer's Corner</h2>
            <h3>Please keep this under 250 Characters</h3>
            <div class="control-group">
            <%= p.label :thoughts, :class => 'control-label' %>
              <div class="controls">
              <%= p.text_area :thoughts, :class => 'textarea', :maxlength => 250, :rows => "5" %> 
              </div>
            </div>
            
          </div>
        </fieldset>
        
        <fieldset class="step finish">
          <div class="span12">
            <h2>Finish</h2>
            
            <p>Terms and Conditions</p>
            <div class="button-container">
              <%= p.submit 'Accept and Submit', :class => 'btn btn-primary submit-form' %>
            </div>
            
          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>