<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="row-fluid">
        <div class="page-header centered-text">
          <h1>
            <%= @project.title %> 
          </h1>
        </div>
      </div>
        
      <% comment = "3d Projects Slider" %>
      <div class="row-fluid">
        <div id="projectsFlow" class="ContentFlow">
            <div class="loadIndicator"><div class="indicator"></div></div>
            <div class="flow">
                <% @real_videos.each do |video, counter|%>
                  <div class="item" href="URL" target="TARGET" >
                      <iframe width="560" height="315" src=<%= video.embed_url %> frameborder="0" allowfullscreen class="content"></iframe>
                      <div class="caption"><%= video.description %></div>
                  </div>
                <%end%>
                <% @project.photos.each do |photo| %>
                  <div class="item" href="URL" target="TARGET" >
                      <img class="content" src="<%= photo.image %>" href="URL" target="TARGET" /> 
                      <div class="caption"><%= photo.description %></div>
                  </div>
                <%end%>
            </div>
        </div>
      </div>
      
    </div>      
  </div>
</div>