<div class='row-fluid'>
  <% @projects.each_with_index do |proj, counter| %>
    <div class='span4 projects-box'>
      <%= link_to project_path(proj.id) do %>
        <h3 class="title centered-text">
          <%= proj.title %>
        </h3>
      <% end %>
      <span class="producer-name">Producer: <%= link_to user_path(proj.user) do proj.user.name end %></span>
      <span class="location-name"><%= if proj.location.present? then proj.location end %></span>
      <div class="row-fluid thumbnail-container">
        <%= link_to project_path(proj.id) do %>
          <div class='thumbnail-figure span6'>
            <% if proj.photos.exists? %>
            <%= image_tag(proj.photos.first.image.url(:medium), :class => "profile-image") %>
            <% end %>
          </div>
        <% end %>
        <div class="open-roles span6">
          <div class="role-circle-container">
            <div class="role-circle"></div>
            <div class="circle-fill"></div>
            <div class="circle-measure circle-measure-<%= proj.roles_percent %>"></div>
            <span class="role-count"><%= proj.open_roles.size %> Open Roles</span>
          </div>
        </div>
      </div>
      <div class='thumbnail-details'>
        <div class="project-description">
          <%= shorten :text => proj.description, :length => 100, :partial => "more_projects_description.html.erb", :counter => counter %>
        </div>
        <div class="row-fluid roles-container centered-text">
          <% proj.roles.each_with_index do |role, index| %>
            <% if index > 6 then %>
              <span class="more-roles-link"><%= proj.roles.length - index %> more...</span>
              <% break %>
            <% end %>
            <span class="role-name"><%= role.name %></span>
          <% end %>
        </div>
        
      </div>
      <hr class="bottom"/>
      <div class="message-follow-row">
        <% if current_user %>
        <a data-toggle="modal" data-target="#message-modal-<%= counter %>" 
              data-remote ="<%= new_conversation_path(:recipient => proj.user.email, :modal => true)%>"
              data-keyboard="true" class="message-button"><%= image_tag('mail_icon.png') %> Message</a>
        <!-- Message Modal -->
          <div id="message-modal-<%= counter %>" class="modal hide fade left-aligned message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3><span>Message <%= proj.user.name.split[0..0].join(" ") %></span></h3>
            </div>
            <div class="modal-body">
            </div>
          </div>
        <!-- Message Modal -->
        <% end %>
				<!--<div class="follow-button">
          render :partial => '/application/follow_button.html.erb', :locals => {:user => proj.user} 
        </div>-->
        <div class="follow-count">
          <span class="fan-count" data-user-id="<%= proj.user.id %>">
            <!-- Friendship.where( :friend_id => proj.user.id).count --> <%= proj.likes.all.count %>
          </span> Fans
        </div>
        
        <div class="love-button">
          <%= render :partial => '/application/love_form.html.erb', :locals => {:id => proj.id, :type => 'Project'} %>
        </div>
      </div>
      <!-- Projects Description Modal -->
      <div id="projects-description-<%= counter %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3><span><%= proj.title %></span></h3>
        </div>
        <div class="modal-body">
          <p>
            <%= simple_format(proj.description) %>
          </p>
        </div>
      </div>
      <!-- End Projects Description Modal -->
    </div>
  <% end %>
</div>