<div class='row-fluid'>
  <% @projects.each_with_index do |proj, counter| %>
    <div class='span4 projects-box'>
      <%= link_to project_path(proj.id) do %>
        <div class='thumbnail-figure'>
          <% if proj.photos.exists? %>
          <%= image_tag(proj.photos.first.image.url(:large)) %>
          <% end %>
        </div>
      <% end %>
      <div class='thumbnail-title'>
        <h3>
          <span><%= proj.title %></span>
        </h3>
        <h5> <span><%= User.find(proj.user_id).name %></span></h5>
        <div class="project-description">
          <%= shorten :text => proj.description, :length => 100, :partial => "more_projects_description.html.erb", :counter => counter %>
        </div>
        <hr/>
        <div class="row-fluid">
          <ul class="genres">
            <li>comedy</li><li>thriller</li><li>action</li><li>documentary</li>
          </ul>
        </div>
        <!-- Projects Description Modal -->
        <div id="projects-description-<%= counter %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3><span><%= proj.title %></span></h3>
          </div>
          <div class="modal-body">
            <p>
              <%= simple_format(proj.description) %>
            </p>
          </div>
        </div>
        <!-- End Projects Description Modal -->
      </div>
    </div>
  <% end %>
</div>