<div class="container">
    <div class="row-fluid">
      <div class="span10 offset1">
        
        <div class="row-fluid">
          <div class="page-header">
              <h1>
                  Get Involved
              </h1>
          </div>
        </div>

        <div class="row-fluid">
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>
          <div class="well span3 pull-center roles">
              <h5>
                  <i class="icon-camera huge-icon"></i>    
                  <span class="blocked">Photography</span>
              </h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
              <%= link_to "Apply", "#", :class => "btn btn-small btn-success" %>
              <%= link_to "Info", "#", :class => "btn btn-small btn-info" %>
          </div>

        </div>

      </div>
    </div>
  </div>