 
<script>
	$(function() {
		app.fn.initialize_date_picker('.date_field')
	});
</script>


<% @project.errors.full_messages.each do |error| %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><%= error %></p>
    </div>
<% end %>
  


<%= form_for @project, :validate => true, :html => { :class => 'form-horizontal project-save-form' , :name => 'formElem', :id => 'formElem'} do |p| %>


  <div class="span12">

    <%= p.fields_for :photos, Photo.new, :child_index => 'replace_this' do |photo| %>
      <div class='control-group '>
        <div class='row'>
          <div class="span3">
            <div class='controls upload_progress'>
              Upload Progress:
              <div class='progress'>
                <div class='bar' style='width: 0%'></div>
              </div>
            </div>

            <div class="controls image_container">
              <img src='' class="image_preview_container img-rounded" >
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='span3'>
            <%= photo.text_field :crop_x, :class => 'crop_x' %>
            <%= photo.text_field :crop_y, :class => 'crop_y' %>
            <%= photo.text_field :crop_w, :class => 'crop_w' %>
            <%= photo.text_field :crop_h, :class => 'crop_h' %>
            <label class="control-label">Project Image</label>
            <div class="controls">
              <%= photo.file_field :image %>

            </div>
          </div>
        </div>

        <div class='row'>
          <div class='span3'>
            
            <div class="controls">
              <label>Description</label>
              <%= photo.text_field :description %>
            </div>
          </div>
        </div>

        <!-- url is updated when the image is created and uploaded  -->
        <%= photo.hidden_field :remote_image_url, :class => 'photo_url_div' %>

      </div>
      
      <%= link_to 'Remove', '#', :class => 'numerous-remove pull-left' %>
      
    <% end %>


    <div class="control-group">
    <%= p.label :title, :class => 'control-label' %>
      <div class="controls">
      <%= p.text_field :title, :class => 'text_field required' %>
      </div>
    </div>
  
    <div class="control-group">
    <%= p.label :location, :class => 'control-label' %>
      <div class="controls">
      <%= p.text_field :location, :class => 'text_field' %>
      </div>
    </div>

    <h4>Important Dates</h4>

    <div class="dates-container">
      
      <%= p.fields_for :project_dates do |date| %>
        <%= render :partial => 'projects/imp_dates_input', :locals => { :date => date } %>
      <% end %>

      <div id='fields-for-project_dates-list' class='numerous'>
        <div class='project_imp_date'>
        <%= p.fields_for :project_dates, ImportantDate.new, :child_index => 'replace_this' do |date| %>
          <%= render :partial => 'projects/imp_dates_input', :locals => { :date => date } %>
          <%= link_to 'Remove', '#', :class => 'numerous-remove pull-left' %>
        <% end %>
        </div>
      </div>

      <div id='project_dates-list'></div>

      <%= link_to 'Add an important Date', '#', :id => 'add-to-project_dates-list' %>
    </div>

    <div class="control-group">
      <%= p.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= p.text_area :description, :class => 'textarea', :rows => "5" %> 
      </div>
    </div>

    <div class="control-group">
      <%= p.label :headline, :class => 'control-label' %>
      <div class="controls">
        <%= p.text_area :headline, :class => 'textarea', :rows => "5" %> 
      </div>
    </div>


    <div class='span12'>
      <div class='text-center form_footer'>
        <div class='links'>
          <%= p.submit "Next Step", :class=>'step_1_submit' %>
          <%= p.submit "Finish! Go to my profile", :class=>'skip step_1_submit' %>
        </div>
        
        You are almost done! Go to the next page to enter the fun stuff! Or you can check out profile and enter the rest of the stuff later
      </div>
    </div>

  </div>



<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    app.project_genres = <%=raw Project.genres.keys %>

    $('#project_genre').tagit({
      sortable: true,
      tagSource: ['munna','vishnu'],
      allowNewTags: false,
      triggerKeys: ['comma', 'tab', 'space', 'enter'],
      tagsChanged: function(tagValue, action, element){
        tag_value_array = _.map($('#project_genre').tagit('tags'), function(tag){
            tag.value  
        })  
        $('#project_genre_list').val(tag_value_array.toString())
      }
    });

    app.types_costs = <%= raw User.types_costs.to_json() %>

    // update the pay rate summary for the role when the select box value is changed.
    $('body').on('change', '.talent-select select', function(event){
      selected_talent = $(event.target).val()
      cost = app.types_costs[selected_talent]
      $(event.target).parent().find('.cost').html(cost)
    });  
    
      
  })
</script>