<%= javascript_include_tag "projects/projects_manifest" %>
<%= stylesheet_link_tag "projects/manifest.css" %>

<%- model_class = @project.class -%>
<section class='section'>
  <div class='container project-form'>
    <div class='row'>
      <div class='span12 edit-project'>
        <div id="wrapper" class="row-fluid">
          <div id="navigation" style="display:none;">
            <ul>
              <li class="selected first_step">
                <a href="#" class='step_1_nav' data-stepIndex="1">
                  <span class='step_count light'>01</span>
                  <span class='step_text'>Basic</span>
                </a>
              </li>
              <li>
                <a href="#" class='step_2_nav' data-stepIndex="2">
                  <span class='step_count light'>02</span>
                  <span class='step_text'>Positions</span>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div id='steps'>
            <fieldset class="step info">
              <div id='step_1'>
                <%= render :partial => 'step_1_form' %>
              </div>
            </fieldset> 

            <fieldset class="step info">
              <div id='step_2'>
                Please Complete Step 1 to come here..!
              </div>
            </fieldset> 


            <fieldset class="step info">
              <div id='step_3'>
                Please Complete previous steps to come here.
              </div>
            </fieldset> 
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<%= render :partial => 'application/crop_image_modal' %>

<script type="text/javascript">
  $(document).ready(function(){

    // required options for select.
    app.project_role_types = <%= raw Project.role_types.to_json() %>;
    app.sub_roles          = <%= raw Project.role_sub_types.to_json() %>;
    app.super_sub_roles    = <%= raw Project.role_super_sub_types.to_json() %>;
    // for cast role.
    app.heights            = <%= raw Characteristics.heights.to_json() %>;
    app.ages               = <%= raw Characteristics.ages.to_json() %>;
    app.enthnicities       = <%= raw Characteristics.enthnicities.to_json() %>;
    app.bodytypes          = <%= raw Characteristics.bodytypes.to_json() %>;
    app.hair_colors        = <%= raw Characteristics.hair_colors.to_json() %>;


    // super roles select change event listener and showsub roles
    app.fn.init_super_roles_select_handler('super_role_select', app.sub_roles, 'sub_role_select', app.super_sub_roles);

    // prevent forward sliding for the form.
    app.allow_forward_sliding_till = 1;

    app.fn.init_form_elem_hints('.hinted');

    app.fn.set_checkbox_limit('input[name="project[genre_list][]"]', 2);

  });

</script>


<%= render :partial => 'projects/templates/project_roles' %>
<%= render :partial => 'projects/templates/project_role' %>
<%= render :partial => 'projects/templates/project_role_edit' %>
<%= render :partial => 'projects/templates/searched_users' %>
<%= render :partial => 'projects/templates/searched_user' %>