<section class='projects-search'>
  <div class='container'>
    <div class='row'>
      <!-- Left Column for Search Terms-->
      <div class='span3 search-column'>
        <div class="projects-search-title">
          <h3>PROJECTS</h3>
        </div>
        <div class="projects-search-content">
          <%= search_form_for @search do |f| %>
          <div class="field project-title">
            <%= f.text_field :title_cont, :placeholder => 'Find a Project...', :class => 'project-title-input' %>
            <i class="icon-search"></i>
          </div>
          
          <div class="field genre">
            <h3>Genre</h3>
            <%= f.select(:genre_cont, options_for_select(@genres), {}, {:multiple=> true, :size => 5, :class => 'genres-input' }) 
            %>
          </div>
          <div class="field location">
            <h3>Location</h3>
            <%= f.text_field :location_cont, :placeholder => 'Location' , :class => 'location-input' 
            %>
          </div>
          <div class="field roles">
            <h3>Open Roles</h3>
            <%= f.select(:roles_name_cont, options_for_select(@talents), {}, {:multiple=> true, :size => 5, :class => 'roles-input' })
            %>
          </div>
          <% end %>
        </div>
      </div>
      
      <!-- Right Column for displaying users-->
      <div class='span9 search-results'>
        <%= render :partial => 'project_search_results' %>
      </div>

  </div>
</section>