<%= javascript_include_tag "projects/projects_manifest" %>
<%= stylesheet_link_tag "projects/manifest.css" %>

<div class='container'>
  <div class='row'>
    <div class='span12'>
      
      <div class='row project-main-head'>
        <div class='span5 project-image' style='background: url("<%= @project.display_photo.image.url %>")'>
        </div>
        <div class="shadow-div"> </div>
        <div class='pull-left main-right'>
          <div class='row'>
            <div class='span7'>

              <div class='btn-custom pull-left btn-grey disabled'>
                Love This
              </div>
              <div class='btn-custom pull-left btn-grey disabled'>
                Like This
              </div>
              <div class='btn-custom pull-left btn-grey'>
                Message
              </div>

              <div class='btn-custom pull-left btn-red'>
                Follow
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='span7 title'>
              <h2><%= @project.title %></h2>
            </div>
            
            <div class='span7 project-created-by light'>
              <i>created by </i>
              <%= link_to @project.user.name, "users/#{@project.user.id}", :class => 'medium' %>
            </div>

            <div class='span7 project-description light'>
              <% if @project.description.length > 200 %>
                <%= @project.description.scan(/.{200}/)[0] %> <span class='read_more' data-content='<%= @project.description %>'><i>Read more</i></span>
              <% else %>
                <%= @project.description %> 
              <% end %>
              <div class='shaded-divider'></div>
            </div>
            
          </div>

          <div class='row'>
            <div class='span7 project-location light'>
              <% if !@project.location.nil? %>
                <div class='location-img-blue pull-left'></div>
                Shooting in <%= @project.location %>
              <% end %>
            </div>
            
            <div class='span7 project-genres light'>
              <ul>
                <% @project.genre.each do |genre| %>
                  <% if genre.present? %>
                    <li> <%= genre %> </li>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div class='span7 project-types'>
              <ul>
                <% @project.is_type.each do |type| %>
                  <% if type.present? %>
                    <li class='badge badge-custom-green'> <%= type %> </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class='row'>
        
        <div class='span8 project-wall'>
          <div class='row'>
            <div class='headline'>
              <i>
                <%= @project.headline %>
              </i>
            </div>
          </div>

          <div class='row roles-div'>
            <div class='span8 available-roles-head'>
              Available Roles
            </div>
            <div class='span8 grey-divider'></div>

            <div class="span8 role-circles">
              <% accordion_target = 0 %>              
              <% @project.roles_json.each do |name, super_role_details| %>
                <a data-toggle="tab" href="#role-tab-<%= accordion_target %>" class='circle-wrapper'>
                  <div class="role-circle-container">
                    <span class="role-title">
                      <%= name %>
                    </span>
                    
                    <div class="role-circle"> </div>
                    <div class="circle-fill"> </div>

                    <div class="circle-measure circle-measure-<%= ((super_role_details[:filled_count] / super_role_details[:total_count].to_f) * 10).to_i %>"> </div>
                    
                    <span class="role-count">
                      <%= super_role_details[:filled_count]%> of <%= super_role_details[:total_count]%>
                      <br/>
                    </span>

                  </div>
                </a>

                <% accordion_target+=1 %>
              <% end %>

            </div>



            <% accordion_counter = 0 %>
            <% modal_counter = 0 %>
            
            <div class='span8 role-filters'>
              <% @project.roles_json.each do |name, super_role_details| %>
                  <a href="#role-tab-<%= accordion_counter %>" data-toggle='tab' class='badge badge-custom-green pull-left role-filter'>
                    <%= name %>
                  </a>
                <% accordion_counter += 1 %>
              <% end %>
              </ul>
            </div>

            <% accordion_counter = 0 %>
            <% modal_counter = 0 %>

            <div class='span8 tab-content roles-display-tabs'>
              <% @project.roles_json.each do |name, super_role_details| %>
              
                <div class='tab-pane' id='role-tab-<%= accordion_counter %>'>
                  <% super_role_details[:subroles].each_with_index do |role, counter| %>
                    
                    <% if role.filled %>
                      <div class='role-portfolio pull-left'>
                        <div class="role-title medium">
                          <%= role.subrole %>
                        </div>  

                        <%= image_tag role.approved_user.profile_pic, :class => 'img-circle role-cast-pic' %>

                        <div class='role-filled-sumary'>
                          <i class='icon-ok'></i> Filled
                        </div>
                      </div>
                    <% else %>
                      <div class='role-portfolio pull-left'>
                        <div class="role-title">
                          <%= role.subrole %>
                        </div>

                        <%= image_tag 'role-male-default.png', :class => 'default-role-pic' %>

                        <% if can? :edit, @project %>
                          <div class='btn-custom btn-red info-button show_applicants' data-id='<%= role.id %>'>
                            Applicants <%= role.applications.size %>
                          </div>
                        <% else %>
                          <div class="btn-custom btn-red info-button role-apply-btn" data-toggle="modal" data-target="#role-modal-<%= modal_counter %>" data-keyboard="true" >
                              Apply
                          </div>
                        <% end %>
                        
                      </div>

                      <!-- Role Info Modal -->
                      <div id="role-modal-<%= modal_counter %>" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3><span> <%= role.subrole %> </span></h3>
                        </div>

                        <div class="modal-body">
                          <%= simple_format role.description %>

                          <% if current_user %>
                           <%= link_to 'Apply', new_role_application_path(:role_id => role.id), class: "btn btn-small btn-success" %>
                          <% else %>
                           <%= link_to "Sign In to Apply!", "/auth/facebook", id: "sign_in", class: "btn btn-small btn-success" %>
                          <% end %>
                        </div>
                      </div>
                      <!-- Role Info Modal -->

                    <% end %>

                  <% modal_counter += 1 %>
                  <% end %>
                </div> 
                <% accordion_counter += 1 %>   
              <% end %>
            </div>
          </div>

          <div class='row'>
            <div class='span8 grey-divider'></div>
          </div>


          <div class='row project-comments-container'>

            <div class='span8 updates-head'>
              Updates
            </div>
            <div class='span8 grey-divider'></div>
            <div class='span8'>
              <div class='row'>
                <div class='pull-right' id='comments_div'>
                </div>
              </div>
            </div>

          </div>

          


        </div>
        
        <div class='span4 project-right-divs right-container'>
          <div class='row imp-dates-div'>
            <div class='span4'>
              <div class='imp-date-head light'>
                IMPORTANT DATES
              </div>
              
              <div class='imp-dates'>
                <% @project.project_dates.each do |date| %>
                  
                  <div class='imp-date'>
                    
                    <div class='date pull-left'>
                      <div class='day'>
                        <%= date.day %>
                      </div>
                      <div class='month'>
                        <%= date.month_year %>
                      </div>
                    </div>
                    
                    <div class='date-details pull-left light'>
                      <div class='date-desc'>
                        <%= date.description %>
                      </div>
                      <div class='date-time'>
                        <%= date.formatted_time %>
                      </div>
                    </div>
                    <div class='clearfix'></div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class='row right-extra-div' id='fans_div'>
          </div>

          <div class='row right-extra-div' id='similar_projects_div'>
          </div>

          <div class='right-extra-div coming-div row' id='similar_events'>

          </div>


        </div>


      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="span12">


      <div class="row-fluid">
        <div class="page-header centered-text">
          <h1>
            <%= @project.title %> 
          </h1>
          <span>By <%= @project.user.name %></span>
        </div>
      </div>
      
      <div class="row-fluid follow-roles-bar">
        <div class="span4 follow-container">
          <div class="love-button" id="Project-<%= @project.id %>">
            <%= render :partial => '/application/love_form.html.erb', :locals => {:id => @project.id, :type => 'Project'} %>
          </div>
          <!--<div class="follow-button">
            render :partial => 'follow_button', :locals => {:user => @project.user}
          </div>-->
          <div class="follow-count" id="count-<%= @project.id %>">
            <!-- @producer.friendships.all.count %> Fans -->
            <%= @project.likes.all.count %> Fans
          </div>
					<% if current_user %>
  					<% if current_user.id == @project.user_id %>
    					<%= link_to edit_project_url(@project), :class => 'btn btn-small btn-primary' do %>
    					  <i class="icon-wrench icon-white"></i>
              <% end %>
  					<% end %>
					<% end %>
          <%= render :partial => 'report_modal', :locals => { :entity => @project } %>
        </div>
        
        <div class="span4 offset4 roles-buttons">
          <span class="navigate-button" data-target="roles">Roles</span>
          <span class="vrule"></span>
          <span class="navigate-button" data-target="producer">Producer</span>
          <span class="vrule"></span>
          <span class="navigate-button" data-target="comments">Update</span>
        </div>
      </div>
      
      <div class="row-fluid about-content">
        <div class="span8 video-stuff-container">
          <div class="row-fluid reel-slider">
            <% comment = "3d Reel Slider" %>
            <div class="row-fluid">
              <div class="royalSlider rsDefault">

                <% @real_videos.each_with_index do |video| %>
                  <img src="<%= video.thumbnail_large %>" data-rsVideo="<%= video.url %>" />
                <% end %>    

              </div>  
            </div>
          </div>
          <div class="headline-container">
            <p>"A girl wakes up on the COAST of Ireland, with no memory of who she is and how she got there.”</p>
          </div>
        </div>
        <div class="span4 project-details">
          <div class="well details-well">
            <div class="project-details-title">
              <h3>Project Details:</h3>
            </div>
            <div class="project-details-content">
              <span class="project-detail">
                <% if @project.genre.present? %><%= @project.genre %><% end %>
              </span>
              <span class="project-detail">
                <%= if @project.status.present? then @project.status end %>
              </span>
            <div class="shooting-locations-title">
                <h3>Location:</h3>
            </div>
            <div class="shooting-locations-content">
              <% if !@project.location.nil? %>
              <div class="shooting-location">
                <%= @project.location %>
              </div>
              <% end %>
            </div>
            <div class="open-roles-title">
              <h3>Open Roles:</h3>
            </div>
            <div class="open-roles-content">
              <% @sorted_roles.each do |role_name, role| %>
              <div class="open-role"> <%= role_name %> (<%= @sorted_roles[role_name][:open_count] %>)</div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="well dates-well">
          <div class="dates-title">
            <h3>Important Dates:</h3>
          </div>
          
          <% @project.project_dates.each do |date| %>
            <div class="date">
              <%= date.date_time %> - <%= date.description %>
            </div>
          <% end %>
          
        </div>
      </div> 
    
      <div class="span12 about-text-images">
        <div class="row-fluid">
          <div class="span6 about-text">
            <p>
              <%= shorten :text => @project.description, :length => 1500, :formatted => true, :partial => "more_project_about"%>
            </p>
            <!-- About Project Modal -->
              <div id="project-about-modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3><span><%= @project.title%></span></h3>
                </div>
                <div class="modal-body">
                  <%= simple_format @project.description %>
                </div>
              </div>
            <!-- About Project Modal -->
          </div>
          <div class="span6 photo-gallery">
            <div class="row-fluid reel-slider">
              <% comment = "3d Reel Slider" %>
              <div class="row-fluid">
                <div class="royalSlider rsDefault">
                  
                  <% @project.photos.each do |photo| %>
                    <img src="<%= photo.image.url(:large) %>" />
                  <%end%>
                  
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div> 
    <div class="row-fluid producer-container" id="producer">
      <div class="span2 producer-profile">
        <div class="producer-title">
          <h3>Producer</h3>
        </div>
        <div class="producer-content">
          <%= link_to @producer do %>
          <div class="producer-name">
            <h3><%= @producer.name %></h3>
          </div>
          <% end %> 
          <div class="row-fluid message-row">
            <div class="span12 message-span">
              <% if current_user %>
              <a data-toggle="modal" data-target="#message-modal" 
                    data-remote ="<%= new_conversation_path(:recipient => @producer.email, :modal => true)%>"
                    data-keyboard="true" class="message-button"><%= image_tag('mail_icon.png') %> Message</a>
              <!-- Message Modal -->
                <div id="message-modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><span>Message <%= @producer.name.split[0..0].join(" ") %></span></h3>
                  </div>
                  <div class="modal-body">
                  </div>
                </div>
              <!-- Message Modal --> 
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="span9 producer-headline">
        <div class="vrule"></div>
        <div class="producer-headline-title">
          <h3>In the Producer's Words:</h3>
        </div>
        <div class="producer-headline-content">
          <h3><%= @project.thoughts %></h3>
        </div>
      </div>
    </div>
    
    <div class="row-fluid roles-container" id="roles">
      <div class="roles-title">
        <h3>Roles</h3>
      </div>
      <div class="clearfix"></div>
      <div class="span12 role-circles">
        <% accordion_target = 0 %>
        
        <% @sorted_roles.each do |role_name, role_array| %>
          <a data-toggle="collapse" data-parent="#role-accordion" data-target="#collapse-<%= accordion_target %>" href="#collapse-<%= accordion_target %>">
            <div class="role-circle-container">
              <span class="role-title"><%= role_name %></span>
              <div class="role-circle">
              </div>
              <div class="circle-fill"></div>
              <div class="circle-measure circle-measure-<%= ((@sorted_roles[role_name][:filled_count] / @sorted_roles[role_name][:total_count].to_f) * 10).to_i %>"></div>
              <span class="role-count">
                <%= @sorted_roles[role_name][:filled_count]%>/<%= @sorted_roles[role_name][:total_count]%>
                <br/>
              </span>
            </div>
          </a>

          <% accordion_target+=1 %>
        <% end %>

      </div>
      <% accordion_counter = 0 %>
      <% modal_counter = 0 %>
      <div class="span12 roles-details accordion" id="role-accordion">
        <div class="accordion-group">
          <% @sorted_roles.each do |role_name, role_array| %>
          <div class="role-box">
            <div class="role-type-title accordion-heading">
              <a data-toggle="collapse" data-parent="#role-accordion" data-target= "#collapse-<%= accordion_counter %>" href="#collapse-<%= accordion_counter %>">
                <h3><%= role_name %></h3>
              </a>
            </div>
            <div id="collapse-<%= accordion_counter %>" class="accordion-body collapse role-type-content <%= accordion_counter == 0  ? 'in' : '' %>">
              <% @sorted_roles[role_name][:role_list].each_with_index do |role, counter| %>
              
                <% if counter % 4 == 0 and counter != 0%>
                  <hr class="hrule"></hr>
                <% end %>

                <div class="role span3">

                  <% if can? :edit, @project %>
                    <span class='show_applicants' data-id='<%= role.id %>'>
                      Applicants <%= role.applications.size %>
                    </span>
                  <% end %>

                  <div class="role-title">
                    <%= role.subrole %>
                  </div>

                  <%= image_tag 'actor_icon.png' %>

                  <div class="button btn btn-inverse info-button" data-toggle="modal" data-target="#role-modal-<%= modal_counter %>" data-keyboard="true" >
                    Info & Apply
                  </div>
                  
                  <!-- Role Info Modal -->
                    <div id="role-modal-<%= modal_counter %>" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <% modal_counter += 1 %>
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3><span> <%= role.subrole%> </span></h3>
                      </div>

                      <div class="modal-body">
                        <%= simple_format role.description %>

  											<% if current_user %>
  											 <%= link_to 'Apply', new_role_application_path(:role_id => role.id), class: "btn btn-small btn-success" %>
  											<% else %>
  											 <%= link_to "Sign In to Apply!", "/auth/facebook", id: "sign_in", class: "btn btn-small btn-success" %>
  											<% end %>
                      </div>
                    </div>
                    <!-- Role Info Modal -->

                </div>            
              <% end %>

              <% accordion_counter += 1 %>

            </div>
          </div>
          <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Role Applicants Modal -->

<div id="show_applicants_modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <% modal_counter += 1 %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><span> Role Applicants </span></h3>
  </div>

  <div class="modal-body">
    <ul class='applicants_list'>

    </ul>  
  </div>

</div>
<!-- Role Applicants Modal -->

<% if current_user %>
<% if current_user.id == @project.user_id %>
<div class="container" id="add-updates">
  <div class="span11">
    <div class="row-fluid">
      <div class="new-update-title">
          <h3>
              Create a New Update
          </h3>
      </div>
    </div>
    <%= render 'comments/form' %>
  </div>
</div>
<% end %>
<% end %>
<% if @project.comments.present? %>
<div id="comments">
	<div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span12">
	        <div class="row-fluid">
	          <div class="updates-title">
	              <h3>
	                  Updates
	              </h3>
	          </div>
	        </div>
  				<%= render :partial => 'comments/comment', :locals => {:comments => @project.comments} %>
				</div>
		  </div>
	</div>
</div>
<% end %>

<%= render :partial => 'projects/templates/comments' %>
<%= render :partial => 'projects/templates/comment' %>
<%= render :partial => 'events/templates/similar_events' %>
<%= render :partial => 'events/templates/similar_event' %>
<%= render :partial => 'projects/templates/similar_projects' %>
<%= render :partial => 'projects/templates/similar_project' %>
<%= render :partial => 'projects/templates/fans' %>
<%= render :partial => 'projects/templates/fan' %>

<%= render :partial => 'projects/templates/role_applicant_template' %>

<script type="text/javascript">

$(document).ready(function(){
  app.current_user = <%= raw current_user.to_json(:only => [:name, :id]) %>

  app.project_data = <%= raw @project.to_json() %>

  app.comments = new app.collections.comments()
  app.comments.reset(<%= raw @project.comments.to_json(:include => [:user, :likes]) %>)
  app.comments_view = new app.views.comments({ collection: app.comments })
  $('#comments_div').html(app.comments_view.render().el)



  // similar events
  similar_events = new app.collections.similar_events()
  similar_events.reset(<%= raw Event.custom_json(@project.similar_events, current_user) %>)
  similar_events_view = new app.views.similar_events({ collection: similar_events })
  $('#similar_events').html( similar_events_view.render().el )

  // similar projects
  app.similar_projects = new app.collections.similar_projects()
  app.similar_projects.reset(<%= raw @project.similar_projects.to_json(:include => [:comments, :likes, :photos]) %>)
  app.similar_projects_view = new app.views.similar_projects({ collection: app.similar_projects })
  $('#similar_projects_div').html(app.similar_projects_view.render().el)


  // fans
  app.fans = new app.collections.fans()
  app.fans.reset(<%= raw @project.fans.to_json() %>)
  app.fans_view = new app.views.fans({ collection: app.fans })
  $('#fans_div').html(app.fans_view.render().el)

  $(document).on('newComment', function(event){
    
    comment = new app.models.comment(event.comment)

    app.comments.add(comment)
    
    $('#comment_please_wait').hide()
    $('textarea#comment_content').attr('disabled', false).val('')
    $('#comment_video_attributes_url').attr('disabled', false).val('')
    $('#comment_photo_attributes_image').attr('disabled', false)
  });

  // listen to the comment error event event
  $(document).on('commentError', function(event){
    alert(event.message)
    $('#comment_please_wait').hide()
    $('textarea#comment_content').attr('disabled', false)
    $('#comment_video_attributes_url').attr('disabled', false)
    $('#comment_photo_attributes_image').attr('disabled', false)
  });
});


</script>
