<section id="promo" class="section alt">
  <%= render 'promo-alt' %>
</section>

<section id="about" class="section">
  <%= render 'about' %>
</section>

<% if @project.roles.present? then %>
<section id="roles" class="section alt">
  <%= render 'roles' %>
</section>

<section id="roles" class="section alt">
<h2>Comments</h2>

<div id="comments">
  <%= render @project.comments %>
</div>

<h3>New Comment</h3>

<%= render 'comments/form' %>

</section>

<% end %>