
<div class='form-horizontal'>
  <div id='add_roles_div'>
    
  </div>

  <div class='span12'>
    <div class='text-center form_footer' style='margin-bottom: 25px;'>
      <div class='links'>
        <a href='/projects/<%= @project.id %>' class='finish_project_btn'>Finish! Go to project</a>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    app.editing_project_id = <%= @project.id %>;
    app.project_added_roles = <%= raw @project.roles.to_json( 
                                                      :include => 
                                                      [
                                                        {
                                                          :applications => { 
                                                            :include => :user
                                                          } 
                                                        } 
                                                      ], 
                                                      :methods => [
                                                        :approved_user
                                                      ] 
                                                    ) %>;


    $('#navigation a.step_1_nav').attr('href', '/projects/<%= @project.id %>/edit');
    $('#navigation a.step_1_nav').attr('data-stepindex', 2);

    // prevent step click navigation
    $('#navigation a.step_1_nav').bind('click',function(event){
      $('#step_1').html('Please wait while you are redirected.')
      window.location = '/projects/<%= @project.id %>/edit'
      return false
    });

  });
  
</script>