<div id="header">
	<h1><a href="./dashboard.html">filmmo Admin</a></h1>		
</div>
		


<div id="user-nav" class="navbar navbar-inverse">
	<ul class="nav btn-group">
		<li class="btn btn-inverse" >
			<%= link_to user_path(current_user) do %>
				<i class="icon icon-user"></i> <span class="text"><%= @current_user.name %></span>
			<% end %>
		</li>
		<li class="btn btn-inverse dropdown" id="menu-messages">
			<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
				<i class="icon icon-envelope"></i> 
				<span class="text">Messages</span> <% if notification %><span class="label label-important"><%= notification %></span><% end %> 
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to "../../dashboard#messages", :class => "sInbox" do %>Dashboard<% end %></li>
			</ul>
		</li>
		<!-- <li class="btn btn-inverse">
			<a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a>
		</li> -->
		<li class="btn btn-inverse">
			<%= link_to '<i class="icon icon-share-alt"></i><span class="text">Logout</span>'.html_safe, {:controller=> "users/sessions", :action=> "destroy"}, :method => :delete %>
		</li>
	</ul>
</div>