<div id="sidebar">
	<ul>
		<%= content_tag(:li, :class => is_active?("index")) do %>
			<%= link_to(('index'), :class => is_active?("index")) do %>
				<i class="icon icon-home"></i> <span>Dashboard</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => menu_open?("form_common", "form_validation", "form_wizard")) do %>
			<a href="#"><i class="icon icon-th-list"></i> <span>Form elements</span> <span class="label">3</span></a>
			<ul>
				<%= content_tag(:li, :class => is_active?("form_common")) do %>
					<%= link_to "Common Elements", ('form_common') %>
				<% end %>
				<%= content_tag(:li, :class => is_active?("form_validation")) do %>
					<%= link_to "Validation", ('form_validation') %>
				<% end %>
				<%= content_tag(:li, :class => is_active?("form_wizard")) do %>
					<%= link_to "Wizard", ('form_wizard') %>
				<% end %>
			</ul>
		<% end %>
		<%= content_tag(:li, :class => is_active?("buttons")) do %>
			<%= link_to('buttons') do %>
				<i class="icon icon-tint"></i> <span>Buttons &amp; icons</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => is_active?("interface")) do %>
			<%= link_to('interface') do %>
				<i class="icon icon-pencil"></i> <span>Interface elements</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => is_active?("tables")) do %>
			<%= link_to('tables') do %>
				<i class="icon icon-th"></i> <span>Tables</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => is_active?("grid")) do %>
			<%= link_to('grid') do %>
				<i class="icon icon-th-list"></i> <span>Grid Layout</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => menu_open2?("invoice", "chat", "calendar", "gallery")) do %>
			<a href="#"><i class="icon icon-file"></i> 
				<span>Sample pages</span> <span class="label">4</span>
			</a>
			<ul>
				<%= content_tag(:li, :class => is_active?("invoice")) do %>
					<%= link_to "Invoice", ('invoice') %>
				<% end %>
				<%= content_tag(:li, :class => is_active?("chat")) do %>
					<%= link_to "Support Chat", ('chat') %>
				<% end %>
				<%= content_tag(:li, :class => is_active?("calendar")) do %>
					<%= link_to "Calendar", ('calendar') %>
				<% end %>
				<%= content_tag(:li, :class => is_active?("gallery")) do %>
					<%= link_to "Gallery", ('gallery') %>
				<% end %>
			</ul>
		<% end %>
		<%= content_tag(:li, :class => is_active?("charts")) do %>
			<%= link_to('charts') do %>
				<i class="icon icon-signal"></i> <span>Charts &amp; graphs</span>
			<% end %>
		<% end %>
		<%= content_tag(:li, :class => is_active?("widgets")) do %>
			<%= link_to('widgets') do %>
				<i class="icon icon-inbox"></i> <span>Widgets</span>
			<% end %>
		<% end %>
	</ul>
</div>