<h1>Friends' Activities</h1>
<% @activities.each do |activity| %>
  <% user = activity.user || User.new %>
  <% owner = activity.owner %>


  <% if not activity.trackable.nil? %>
    <div class="activity">
      <%= image_tag user.profile_pic, :class => "producer-image", :width => 70 %>
      <% if activity.owner %>
        <%= link_to activity.owner.name, activity.owner  %>
      <% else %>
        <%= link_to user.name, user_path((activity.trackable.user).id) %>
      <% end %>

      <% case activity.key %>
      <% when "project.create" %>
        created a Project called <%= link_to activity.trackable.title, project_path(activity.trackable.id)%>
      <% when"project.update" %>
        updated a Project called <%= link_to activity.trackable.title, project_path(activity.trackable.id) %>
      <% when "blog.create" %>
        Posted a status update 
      <% when "blog.update" %>
        Edited a status update 
      <% when  "comment.create" %>
        Posted a Project update to
        <%= link_to activity.trackable.title, project_path(activity.trackable.id) %>
      <% when "comment.update" %>
        Updated a Project update to
        <%= link_to activity.trackable.title, project_path(activity.trackable.id) %>

      <% end %>
    </div>
  <% end %>
<% end %>
