<%= javascript_include_tag "admin/unicorn.dashboard.js" %>
<div id="content">
		<div id="content-header">
			<h1>filmmo Admin Area</h1>
			<!-- <div class="btn-group">
							<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
							<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
							<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
							<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
						</div> -->
		</div>
		<div id="breadcrumb">
			<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
			<a href="#" class="current">Dashboard</a>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12 center" style="text-align: center;">					
					<ul class="stat-boxes">
						<li>
							<div class="left peity_line_good"><span><%= @users_4weeks %>,<%= @users_3weeks %>,<%= @users_2weeks %>,<%= @users_weekly %></span>+ <%= @percentage %></div>
							<div class="right">
								<strong><%= @users_count %></strong>
								Users
							</div>
						</li>
						<li>
							<div class="left peity_bar_good"><span><%= @projects_4weeks %>,<%= @projects_3weeks %>,<%= @projects_2weeks %>,<%= @projects_weekly %></span>+ <%= @projects_weekly %></div>
							<div class="right">
								<strong><%= @projects_count %></strong>
								Projects
							</div>
						</li>
					</ul>
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="alert alert-info">
						Welcome <strong>Admin <%= @current_user.name %></strong>.
						<a href="#" data-dismiss="alert" class="close">×</a>
					</div>
					<div class="widget-box">
						<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Site Statistics</h5><div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update stats</a></div></div>
						<div class="widget-content">
							<div class="row-fluid">
							<div class="span4">
								<ul class="site-stats">
									<li><i class="icon-user"></i> <strong><%= @users_count %></strong> <small>Total Users</small></li>
									<li><i class="icon-arrow-right"></i> <strong><%= @users_weekly %></strong> <small>New Users (last week)</small></li>
									<li class="divider"></li>
									<li><i class="icon-facetime-video"></i> <strong><%= @projects_count %></strong> <small>Total Projects</small></li>
									<li><i class="icon-play"></i> <strong><%= @projects_weekly %></strong> <small>New Projects (last week)</small></li>
									<li class="divider"></li>
									<li><i class="icon-glass"></i> <strong><%= @events_count %></strong> <small>Total Events</small></li>
									<li><i class="icon-glass"></i> <strong><%= @events_weekly %></strong> <small>New Events (last week)</small></li>
									<li class="divider"></li>
									<li><i class="icon-envelope"></i> <strong><%= @conversations_weekly %></strong> <small>Conversations (last week)</small></li>
								</ul>
							</div>
							<div class="span8">
								<!-- <div class="chart"></div> -->
							</div>	
							</div>							
						</div>
					</div>					
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title"><span class="icon"><i class="icon-file"></i></span><h5>Recent Users</h5><span title="54 total posts" class="label label-info tip-left"><%= @users_weekly %></span></div>
						<div class="widget-content nopadding">
							<ul class="recent-posts">
								<% @recent_users.each do |user| %>
								<li>
									<div class="user-thumb">
										<% if user.profile.present? %>
											<%= image_tag user.profile.image.url(:thumb), :size => "40x40"  %>
											<% else %>
											<%= image_tag("admin/demo/av2.jpg", :size => "40x40") %>
											<% end %>
									</div>
									<div class="article-post">
										<span class="user-info">  Created on: <%= user.created_at %> </span>
										<p>
											<%= link_to(user_path(user.id)) do %> <%= user.name %> <% end %>
										</p><br>
										<%= link_to(edit_user_path(user.id), :class => "btn btn-primary btn-mini") do %>Edit<% end %> 
											<%= link_to 'Send Message', new_conversation_path(:recipient => user.email, :modal => true), class: "btn btn-success btn-mini", :data => {:toggle => "modal", :target => "#message-modal", :keyboard => "true" } %> 
											<div id="message-modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		                    <div class="modal-header">
		                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                      <h3><span>Message <%= user.name.split[0..0].join(" ") %></span></h3>
		                    </div>
		                    <div class="modal-body">
		                    </div>
		                  </div> 
											<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
					                      user_path(user),
					                      :method => :delete,
					                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
					                      :class => 'btn btn-mini btn-danger' %>
									</div>
								</li>
								<% end %>
								<li class="viewall">
									<a title="View all Users" class="tip-top" href="#"> + View all + </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title"><span class="icon"><i class="icon-comment"></i></span><h5>Recent Projects</h5><span title="88 total comments" class="label label-info tip-left"><%= @projects_weekly %></span></div>
						<div class="widget-content nopadding">
							<ul class="recent-comments">
								<% @recent_projects.each do |project| %>
								<li>
									<div class="user-thumb">
										<% if project.photos.exists? %>
											<%= image_tag project.photos.first.image.url(:medium), :size => "40x40"  %>
											<% else %>
											<%= image_tag("admin/demo/av2.jpg", :size => "40x40") %>
											<% end %>
									</div>
									<div class="comments">
										<span class="user-info"> Created on: <%= project.created_at %></span>
										<p>
											<%= link_to project.title, project_path(project.id) %> - <%= link_to User.find(project.user_id).name, user_path(project.user_id) %></a>
										</p>
										<%= link_to(edit_project_path(project.id), :class => "btn btn-primary btn-mini") do %>Edit<% end %>
										<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
					                      project_path(project),
					                      :method => :delete,
					                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
					                      :class => 'btn btn-mini btn-danger' %>
									</div>
								</li>
								<% end %>
								<li class="viewall">
									<a title="View all" class="tip-top" href="#"> + View all + </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Calendar Function is Faded out Below  -->
			<!-- <div class="row-fluid">
				<div class="span12">
					<div class="widget-box widget-calendar">
						<div class="widget-title"><span class="icon"><i class="icon-calendar"></i></span><h5>Calendar</h5></div>
						<div class="widget-content nopadding">
							<div class="calendar"></div>
						</div>
					</div>
				</div>
			</div> -->
