<!-- Page Footer -->
<footer  id="footer" role="contentinfo" class="section">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1 camera-keyhole"><%= image_tag 'camera_keyhole.png' %></div>
      <div class="span7 offset4">
        <ul class="links">
          <li>
            <h5><%= link_to "About Filmzu", "root_url" %></h5>
          </li>
          <li>
            <h5><%= link_to "Feedback", root_url %></h5>
          </li>
          <li>
            <h5><%= link_to "Contact Us", root_url %></h5>
          </li>
          <li>
            <h5><%= link_to "Terms & Conditions", "terms" %></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>