<!-- Page Footer -->
<footer  id="footer" role="contentinfo" class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="copyright pull-right">© <%= Date.today.strftime("%Y") %> Caball</div>
        <ul class="links">
          <li>
            <%= link_to "About", "#" %>
          </li>
          <li>
            <%= link_to "Blog", "#" %>
          </li>
          <li>
            <%= link_to "Find Talent", "#" %>
          </li>
					<li>
	          <%= link_to "Discover Projects", "#" %>
	        </li>
          <li>
            <%= link_to "Terms of Use", "#" %>
          </li>
          <li>
            <%= link_to "Privacy Policy", "#" %>
          </li>
          <li>
            <%= link_to "Contact", "#" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>