<!-- Page Footer -->
<footer  id="footer" role="contentinfo" class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="copyright pull-right">© <%= Date.today.strftime("%Y") %> Caball</div>
        <ul class="links">
          <li>
            <%= link_to "About", "root_url" %>
          </li>
          <li>
            <%= link_to "Blog", root_url %>
          </li>
          <li>
            <%= link_to "Find Talent", users_path %>
          </li>
					<li>
	          <%= link_to "Discover Projects", projects_path %>
	        </li>
          <li>
            <%= link_to "Terms of Use", "terms" %>
          </li>
          <li>
            <%= link_to "Privacy Policy", home_privacy_path %>
          </li>
          <li>
            <%= link_to "Contact", "contact" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>