<!--========= footer starts======------>
<div class="footerwrap">
  <footer class="footer maincontain container">
    <div class="flogo"><img src="/assets/flogo.png" alt="" /></div>
    
    <div class="cright regular">
      © Copyright 2013 Filmzu. All Rights Reserved.
    </div>
    
		<div class="flist row pull-left">
		  <ul class="footlist">
		    <li class='pull-left light'>
		     	<%= link_to "LEARN ABOUT FILMZU", '/our_story', :class => "footer-main" %><br>
					<%= link_to "Blog", "http://skills.filmzu.com/", :class => "footer-text" %><br>
					<%= link_to "Labs", '/labs', :class => "footer-text" %><br>
					<%= link_to "Glossary", '/glossary', :class => "footer-text" %><br>
					<%= link_to "FAQ", '/FAQ', :class => "footer-text" %>
		    </li>
		    <li class='pull-left light'>
		      <%= link_to "ABOUT THE COMPANY", '/our_story', :class => "footer-main" %><br>
		     	<%= link_to "Our Story", '/our_story', :class => "footer-text" %><br>
					<%= link_to "Opportunities", '/opportunities', :class => "footer-text" %><br>
					<%= link_to "Privacy", '/privacy', :class => "footer-text" %><br>
					<%= link_to "Terms", '/terms', :class => "footer-text" %>
		    </li>
		    <li class='pull-left light'>
		      <%= link_to "OUR COMMUNITY", '/contact_us', :class => "footer-main" %><br>
		      <%= link_to "Contact Us", '/contact_us', :class => "footer-text" %><br>
					<%= link_to "Partners", '/partners', :class => "footer-text" %><br>
					<%= link_to "Funding", '/partners#funding', :class => "footer-text" %><br>
					<%= link_to "Distribution", '/partners#distribution', :class => "footer-text" %>
		    </li>
		  </ul>
		</div>

    <div class='row share_area text-center'>
      <div class="social-share-button" data-title="Filmzu" data-img="" data-url="">
        <a href="http://twitter.com/filmzu" target='_blank' class="social-share-button-twitter" data-site="twitter"></a>
        <a href="http://facebook.com/filmzu" target='_blank' class="social-share-button-facebook" data-site="facebook"></a>
        <a href="http://www.linkedin.com/company/filmzu" target='_blank' class="social-share-button-linkedin" data-site="linkedin"></a>
				<a href="http://filmzu.tumblr.com" target='_blank' class="social-share-button-tumblr" data-site="tumblr"></a>
				<a href="http://www.pinterest.com/filmzu" target='_blank' class="social-share-button-pinterest" data-site="pinterest"></a>
        <!--  <a href="http://plus.google.com/" target='_blank' class="social-share-button-google_plus" data-site="google_plus"></a> -->
        </div>
    </div>
  </footer>
</div>
<!--========= footer ends======------>
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/PyZkYNfJogWYOMztu61nQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>