<!--========= footer starts======------>
<div class="footerwrap">
  <footer class="footer maincontain container">
    <div class="flogo"><img src="/assets/flogo.png" alt="" /></div>
    
    <div class="cright regular">
      © Copyright 2013 Filmzu. All Rights Reserved.
    </div>
    
		<div class="flist row pull-left">
		  <ul class="footlist">
		    <li class='pull-left light'>
		     <%= link_to "OUR STORY", '/our_story' %><br>
				<%= link_to "FAQ", '/FAQ' %><br>
				<%= link_to "Filmzu Labs", root_url %>
		    </li>
		    <li class='pull-left light'>
		      <%= link_to "BLOG", "http://skills.filmzu.com/" %><br>
					<%= link_to "Glossary", root_url %><br>
					<%= link_to "Opportunities", '/opportunities' %>
		    </li>
		    <li class='pull-left light'>
		      <%= link_to "CONTACT US", root_url %><br>
					<%= link_to "Privacy", '/privacy' %><br>
					<%= link_to "T & C's", '/terms' %>
		    </li>
		  </ul>
		</div>

    <div class='row share_area text-center'>
      <div class="social-share-button" data-title="Filmzu" data-img="" data-url="">
        <a href="http://twitter.com/thefilmzu" target='_blank' class="social-share-button-twitter" data-site="twitter"></a>
        <a href="http://facebook.com/filmzu" target='_blank' class="social-share-button-facebook" d ata-site="facebook"></a>
        <a href="http://plus.google.com/filmzu" target='_blank' class="social-share-button-google_plus" data-site="google_plus"></a>
        </div>
    </div>
  </footer>
</div>
<!--========= footer ends======------>