<!--========= Header starts======------>
<div class="headerwrap">
  <header class="container-fluid">
    <div class="row-fluid">
      <nav>
          <div class="hnav navbar light">
            <div class="navbar-inner ">
              <a href="#" class="brand"><img src="/assets/logo.png" alt="" /></a>
              <ul class="nav nav-tabs">

                <% class_names={} %>
                <% class_names['projects'] = 'active' if controller_name == 'projects' %>
                <% class_names['users'] = 'active' if controller_name == 'users' %>
                <% class_names['events'] = 'active' if controller_name == 'events' %>

                <li class="<%= class_names['projects'] %>"><a href="/projects" >Projects</a></li>
                <li class="<%= class_names['users'] %>" ><a href="/users">People</a></li>
                <li class="<%= class_names['events'] %>"><a href="/events">Events</a></li>
                <li><a href="#">Skills</a></li>
              </ul>
              <div class="hdrfrm">
                <form action="">
                  <input type="text" class='search_header'/>
                </form>
              </div>

              <% if current_user %>
                <div class="loggedwrap">

                  <div class="notiwrap">
                    <div class="notstarwrap">
                    <div class="notico"></div>
                    <div class="notno  medium img-circle text-center">3</div>
                    </div>
                    <div class="noticontentwrap">
                      <div class="noticontent">
                      <div class="notih1 medium text-center">NOTIFICATIONS</div>
                      <div class="notification">
                        <div class="usrimg img-circle">
                        <!--user prof images as cover bg-->
                        </div>
                        <div class="notefull">
                          <div class="noteinfo"><a href="">Kara Deiff</a> commented on your event <a href="">The Biggesst Event of the year</a></div>
                          <div class="notemsg">Greate! this is awesome</div>
                          <div class="notetime light">about 17min ago</div>
                        </div>
                      </div>
                    
                      <div class="noteclose img-circle medium text-center">x</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="userprofwrap">
                    <div class="usrprev">
                      <div class="usrimg img-circle" style='background: url(<%= current_user.profile_pic %>)'>
                        <!--user prof images as cover bg-->
                      </div>
                      
                      <div class="username">
                        <%= current_user.name %>
                      </div>
                    
                    </div>
                    <div class="userprflistwrap">
                      <ul class="proflist medium">
                        <a href="/users/<%= current_user.id %>">
                          <li class="profile">profile</li>
                        </a>
                        <a href="/dashboard" >
                          <li class="dboard">Dashboard</li>
                        </a>
                        <a href="/users/<%= current_user.id %>/edit">
                          <li class="settings">Settings</li>
                        </a>
                        <a href="/signout">
                          <li class="lout">Logout</li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>


              <% else %>
                <div class='user-section'>
                  <a href="" class="signin-btn">Sing In</a>
                  <a href="">Create  an Account</a>  
                </div>
              <% end %>



            </div>
          </div>
      </nav>
      
    </div>
  </header>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.notstarwrap').on('click',function(){
    $('.noticontentwrap').slideToggle(600);
  });

  $('.noteclose').on('click',function(){
    $('.noticontentwrap').slideUp(600);
  });

  $('.usrprev').on('click',function(){
    $('.userprflistwrap').slideToggle(600);
  });
});
  
</script>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:info] %>
  </div>
<% end %>

<div id="bootstrap-alert-placeholder" class="js-alert"></div>