<!-- Page Header -->
<header id="masthead">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to root_url, :class=>'brand' do %>
        <!-- <i class="icon-film"></i> -->
        <%= image_tag "filmzu.png" %>
        <% end %>
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="projects-link link">
              <div class="title-cell">
              <%= link_to "/projects", :class => 'double-lines' do %>
                <h4>PROJECTS</h4>
                <h6>In Progress</h6>
              <% end %>
              </div>
            </li>

            <li class="people-link link">
              <div class="title-cell">
              <%= link_to "/users", :class => 'double-lines' do %>
                <h4>PEOPLE</h4>
                <h6>Creating Video</h6>
              <% end %>
              </div>
            </li>

            <li class="library-link link">
              <div class="title-cell">
              <%= link_to "/library", :class => 'double-lines' do %>
                <h4>LIBRARY</h4>
                <h6>Articles and How-To's</h6>
              <% end %>
              </div>
            </li>
            
            <li class="widgets">
              <div class="search">
                <% if params[:controller] == 'projects' then %>
                <%= search_form_for @search do |f| %><%= f.text_field :title_cont, :placeholder => 'Find a Project...' %><% end %>
                <% else %>
                <%= search_form_for @search do |f| %><%= f.text_field :name_cont, :placeholder => 'Find Talent...' %><% end %>
                <% end %>
                <i class="icon-search"></i>
              </div>
              
              <% if current_user %>
              
              <div class="profile logged-in">
                <%= link_to "#", :class => 'dropdown-toggle', :data => {:toggle=>"dropdown"} do %>
                  <% if current_user.profiles.present? %> 
                    <%= image_tag current_user.profiles.image.url(:tiny) %> 
                  <% else %>
                    <div class="default"></div>
                  <% end %>
                <% end %>
                <ul class="dropdown-menu">    
                  <li>
                    <%= link_to user_path(current_user) do %>
                    <i class="icon-user icon-white"></i><strong><%= current_user.name %></strong>
                    <% end %>
                  </li>
                  <% if current_user.admin == true %>
                  <li>
                    <%= link_to admin_admin_index_path do %><i class="icon-eye-open icon-white"></i> Admin Module<% end %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to new_project_path do %><i class="icon-film icon-white"></i> Start a Project<% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_path(current_user) do %><i class="icon-wrench icon-white"></i> Edit Profile<% end %>
                  </li>
                  <li>
                    <%= link_to signout_path, id: "sign_out" do %><i class="icon-off icon-white"></i> Sign-Out<% end %>
                  </li>
                </ul>
              </div>
              
              <div class="messages">
                <%= link_to "../conversations#index" do %>
                <div class="number">
                  <% if notification %>
                  <span class=""> <%= notification %> </span>
                  <% end %>
                </div>
                <% end %>
              </div>
              
              <div class="notifications">
                <a href = "#">
                <div class="number">
                  <% comment = "This obviously has to be replaced with some notification count" %>
                  32
                </div> </a>
              </div>

              <% else %>
              <div class="profile logged-out">
                <%= link_to "#", :class => 'dropdown-toggle', :data => {:toggle=>"dropdown"} do %> 
                  <icon class="icon-user">
                <% end %>
                <ul class="dropdown-menu">    
                  <li>
                    <%= link_to "Sign In with Facebook", "/auth/facebook", id: "sign_in" %>
                  </li>
                </ul>
              </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<% if flash[:notice] %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <%= flash[:notice] %>
</div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <%= flash[:error] %>
</div>
<% end %>
<% if flash[:alert] %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <%= flash[:alert] %>
</div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">
    ×
  </button>
  <%= flash[:info] %>
</div>
<% end %>

<% comment = "This is a generic placeholder for bootstrap alerts created through JS." %>
<div id="bootstrap-alert-placeholder" class="js-alert"></div>