<!--========= Header starts======------>
<div class="headerwrap">

  <header>
    <div class='logo pull-left'>
      <a href="/" class="brand pull-right"><img src="/assets/emboss-logo.png" alt="" /></a>
    </div>


    <% if current_user %>
      <div class="loggedwrap pull-right">

        <div class="notiwrap">
          <% class_to_set = current_user.unread_notifications.empty? ? '' : 'set_time' %>
          <div class="notstarwrap <%= class_to_set %> ">
          <div class="notico"></div>
          <% if current_user.unread_notifications.present? %>
            <div class="notno  medium img-circle text-center">
              <%= current_user.unread_notifications.count %>
            </div>
          <% end %>
          </div>
          <div class="noticontentwrap">
            <div class="noticontent">
            <div class="notih1 medium text-center">NOTIFICATIONS</div>
            

              <%= render :partial => 'user_notifications' %>
            
          
            <div class="noteclose img-circle medium text-center">x</div>
            </div>
          </div>
          
        </div>
        
        <div class="userprofwrap">
          <div class="usrprev">
            <div class="usrimg img-circle" style='background: url(<%= current_user.profile_pic %>)'>
              <!--user prof images as cover bg-->
            </div>
            
            <div class="username">
              <%= current_user.name %>
            </div>
          
          </div>
          <div class="userprflistwrap">
            <ul class="proflist medium">
              <a href="/users/<%= current_user.id %>">
                <li class="profile">profile</li>
              </a>
              <a href="/dashboard" >
                <li class="dboard">Dashboard</li>
              </a>
              <a href="/users/<%= current_user.id %>/edit">
                <li class="settings">Settings</li>
              </a>
              <a href="/signout">
                <li class="lout">Logout</li>
              </a>
            </ul>
          </div>
        </div>
      </div>


    <% else %>
      <div class='user-section pull-right'>
        <a href="/auth/facebook" class="signin-btn">Sign In</a>
        <a href="">Create  an Account</a>  
      </div>
    <% end %>

    <div class="container" style='width: 800px'>
      <div class="hnav navbar light pull-left">
        <div class="navbar-inner ">
          
          <ul class="nav nav-tabs">

            <% class_names={} %>
            <% class_names['projects'] = 'active' if controller_name == 'projects' %>
            <% class_names['users'] = 'active' if controller_name == 'users' %>
            <% class_names['events'] = 'active' if controller_name == 'events' %>

            <li class="<%= class_names['projects'] %>"><a href="/projects" >Projects</a></li>
            <li class="<%= class_names['users'] %>" ><a href="/users">People</a></li>
            <li class="<%= class_names['events'] %>"><a href="/events">Events</a></li>
          </ul>
          
        </div>
      </div>
      <div class="hdrfrm pull-left">
        <form action="">
          <input type="text" class='search_header' id='main_header_search' placeholder='Search for people, projects and events'/>
        </form>
      </div>
    </div>
      
    
  </header>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <%= flash[:info] %>
  </div>
<% end %>

<div id="bootstrap-alert-placeholder" class="js-alert"></div>

<script type="script/template" id='search_results_li_tempalte'>
  
  <a class='full-li'>
    <img src='<%%= thumbnail %>'>
    <span>
      <%%= label %>
    </span>
  </a>

</script>


<script type="text/javascript">
$(document).ready(function(){
  $('.notstarwrap').on('click',function(){
    $('.noticontentwrap').slideToggle(600);

    if($('.notstarwrap').hasClass('set_time')){
      app.fn.set_notification_check_time($('.notstarwrap'))
    }
  });

  $('.noteclose').on('click',function(){
    $('.noticontentwrap').slideUp(600);
  });

  $('.usrprev').on('click',function(){
    $('.userprflistwrap').slideToggle(600);
  });


  $('.timeago').timeago()

  // for search
  $.widget( "custom.catcomplete", $.ui.autocomplete, {
      _renderMenu: function( ul, items ) {
        var that = this,
          currentCategory = "";
        $.each( items, function( index, item ) {
          if ( item.category != currentCategory ) {
            ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
            currentCategory = item.category;
          }
          that._renderItem( ul, item );
        });
      }
    });


  var on_select_callback = function(item){
    // similar behavior as an HTTP redirect
    window.location.replace(item.url);
  }

  var this_template = _.template( $('#search_results_li_tempalte').html())

  $("#main_header_search").catcomplete({
    delay: 0,
    source: function(request, response){
      $.getJSON( "/main_search?q="+request.term, function(data){
        response(data)
      });
    },
    select: function(event, ui){
      on_select_callback(ui.item)
    },
    messages:{
      noResult: '',
      results: function(){}
    },  
   }).data("custom-catcomplete")._renderItem = function(ul, item){
      return $( "<li>" ).addClass('custom-ui-item clearfix')
            .data( "ui-autocomplete-item", item )
            .append( this_template(item) )
            .appendTo( ul );
    };
});
  
</script>