<!DOCTYPE html>
<html>
<head>
	<title>filmmo Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
	<%= javascript_include_tag "admin/admin.js" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render :partial => 'header' %>

	<%= render :partial => 'sidebar' %>

	<%= yield %>

	<%= render :partial => 'footer' %>

</body>
</html>
